body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1307px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1307px;
}
#u2 {
  position:absolute;
  left:2px;
  top:646px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1300px;
  top:1030px;
  width:130px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1028px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1028px;
}
#u6 {
  position:absolute;
  left:2px;
  top:506px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:480px;
  top:750px;
  width:130px;
  height:65px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:65px;
}
#u8 {
  position:absolute;
  left:2px;
  top:24px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:1290px;
  top:750px;
  width:130px;
  height:65px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:65px;
}
#u10 {
  position:absolute;
  left:2px;
  top:24px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1604px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1604px;
}
#u12 {
  position:absolute;
  left:2px;
  top:794px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:480px;
  top:1330px;
  width:120px;
  height:60px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u14 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1300px;
  top:1320px;
  width:120px;
  height:60px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:22px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1334px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1334px;
}
#u18 {
  position:absolute;
  left:2px;
  top:659px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
