/* line 1, ../../scss/page/index.scss */
body {
  background-color: #FFF;
}

/* line 4, ../../scss/page/index.scss */
#class-lightbox .btn {
  width: 100%;
}

/* line 7, ../../scss/page/index.scss */
.swiper-1 {
  height: 375px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
/* line 12, ../../scss/page/index.scss */
.swiper-1 .arrow {
  display: block;
  position: absolute;
  width: 50px;
  background-color: #B6B7BC;
  z-index: 2;
  font-size: 32px;
  text-align: center;
  bottom: 45%;
}
/* line 21, ../../scss/page/index.scss */
.swiper-1 .arrow.arrow-left {
  left: -10px;
}
/* line 24, ../../scss/page/index.scss */
.swiper-1 .arrow.arrow-right {
  right: -10px;
}
/* line 28, ../../scss/page/index.scss */
.swiper-1 .swiper-slide {
  height: 375px;
}
/* line 30, ../../scss/page/index.scss */
.swiper-1 .swiper-slide .content-slide {
  width: 100%;
  overflow: hidden;
}
/* line 33, ../../scss/page/index.scss */
.swiper-1 .swiper-slide .content-slide img {
  width: 1920px;
  margin-left: -960px;
  position: relative;
  left: 50%;
}
/* line 39, ../../scss/page/index.scss */
.swiper-1 .swiper-slide .content-slide .text {
  position: relative;
  top: -230px;
  width: 1920px;
  margin-left: -960px;
  position: relative;
  left: 50%;
}
/* line 46, ../../scss/page/index.scss */
.swiper-1 .swiper-slide .content-slide .text .title, .title01 {
  font-size: 54px;
  line-height: 60px;
  color: #2CABB4;
  padding-left: 900px;
}
/* line 52, ../../scss/page/index.scss */
.swiper-1 .swiper-slide .content-slide .text .content, .content01 {
  font-size: 46px;
  line-height: 50px;
  margin-left: 110px;
  padding-left: 900px;
}

@media (max-width: 1600px) {
  /* line 64, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .title {
    padding-left: 800px;
  }
  /* line 67, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .content {
    padding-left: 800px;
  }
}
@media (max-width: 1200px) {
  /* line 74, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .title {
    padding-left: 750px;
  }
  /* line 77, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .content {
    margin-left: 0px;
    padding-left: 750px;
  }
}
@media (max-width: 992px) {
  /* line 84, ../../scss/page/index.scss */
  .swiper-1 {
    height: 300px;
  }
  /* line 86, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide {
    height: 300px;
  }
  /* line 89, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide img {
    margin-top: -75px;
    margin-left: -800px;
  }
  /* line 94, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .title {
    padding-left: 900px;
  }
  /* line 97, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .content {
    padding-left: 900px;
  }
}
@media (max-width: 640px) {
  /* line 106, ../../scss/page/index.scss */
  .swiper-1 {
    height: 300px;
  }
  /* line 108, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide {
    height: 300px;
  }
  /* line 111, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide img {
    margin-left: -850px;
  }
  /* line 115, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .title {
    padding-left: 800px;
  }
  /* line 118, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .content {
    padding-left: 800px;
  }
}



/**********************SWIPER3**************************************/
@media (max-width: 1600px) {
  /* line 64, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .title01 {
    padding-left: 650px;
	color:black;
	font-weight:bold;
  }
  /* line 67, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .content01 {
    padding-left: 650px;
  }
}
@media (max-width: 1200px) {
  /* line 74, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .title01 {
    padding-left: 600px;
	color:black;
	font-weight:bold;
  }
  /* line 77, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .content01 {
    margin-left: 0px;
    padding-left: 600px;
  }
}
@media (max-width: 992px) {
 
  /* line 94, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .title01 {
    padding-left: 750px;
	color:black;
	font-weight:bold;
  }
  /* line 97, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .content01 {
    padding-left: 800px;
	color:#0D8DA2;
  }
}
@media (max-width: 640px) {
 
  /* line 115, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .title01 {
    padding-left: 800px;
  }
  /* line 118, ../../scss/page/index.scss */
  .swiper-1 .swiper-slide .content-slide .text .content01 {
    padding-left: 800px;
  }
}
/******************************END swiper3******************************/





/* line 127, ../../scss/page/index.scss */
.login {
  background-image: url("../../img/loginBox.png");
  background-repeat: no-repeat;
  width: 306px;
  height: 263px;
  float: right;
  margin-top: -320px;
  margin-right: 100px;
  position: relative;
  z-index: 2;
}
/* line 137, ../../scss/page/index.scss */
.login .title {
  margin-top: 40px;
  text-align: center;
  line-height: 22px;
  font-size: 22px;
  font-weight: bold;
}
/* line 144, ../../scss/page/index.scss */
.login .login-form {
  width: 220px;
  margin: 25px auto 0 auto;
  position: relative;
  left: -1px;
  text-align: center;
}
/* line 150, ../../scss/page/index.scss */
.login .login-form .input-icon {
  margin-bottom: 10px;
}
/* line 153, ../../scss/page/index.scss */
.login .login-form .btn {
  color: #FFF;
  margin: auto;
  background: #0084cc;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwODRjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDQ5YmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #0084cc 0%, #0049bc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0084cc), color-stop(100%, #0049bc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0084cc 0%, #0049bc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0084cc 0%, #0049bc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0084cc 0%, #0049bc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0084cc 0%, #0049bc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0084cc', endColorstr='#0049bc',GradientType=0 );
  /* IE6-8 */
}
/* line 166, ../../scss/page/index.scss */
.login .login-form .btn:hover {
  background: #3d9acc;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkOWFjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNDU2YmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #3d9acc 0%, #1456ba 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d9acc), color-stop(100%, #1456ba));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d9acc 0%, #1456ba 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d9acc 0%, #1456ba 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3d9acc 0%, #1456ba 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3d9acc 0%, #1456ba 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d9acc', endColorstr='#1456ba',GradientType=0 );
  /* IE6-8 */
}
/* line 180, ../../scss/page/index.scss */
.login .social {
  width: 250px;
  margin: 10px auto;
}
/* line 183, ../../scss/page/index.scss */
.login .social .social-text {
  float: left;
  line-height: 33px;
  margin-right: 10px;
  font-size: 14px;
}
/* line 189, ../../scss/page/index.scss */
.login .social .social-icons {
  float: left;
}

/* line 194, ../../scss/page/index.scss */
.login_min {
  display: none;
}

@media (max-width: 992px) {
  /* line 198, ../../scss/page/index.scss */
  .login {
    display: none;
  }

  /* line 201, ../../scss/page/index.scss */
  .login_min {
    display: block;
    width: 100%;
    margin-left: -960px;
    position: relative;
    left: 50%;
    z-index: 2;
    z-index: 2;
  }
  /* line 209, ../../scss/page/index.scss */
  .login_min a {
    display: block;
    background-image: url("../../img/loginBox_min.png");
    background-repeat: no-repeat;
    width: 303px;
    height: 101px;
    float: left;
    margin-left: 900px;
    margin-top: -80px;
    margin-bottom: -20px;
    color: #000;
  }
  /* line 220, ../../scss/page/index.scss */
  .login_min a:hover {
    text-decoration: none;
  }
  /* line 224, ../../scss/page/index.scss */
  .login_min .title {
    margin-top: 40px;
    text-align: center;
    line-height: 22px;
    font-size: 24px;
    font-weight: bold;
  }
}
@media (max-width: 640px) {
  /* line 235, ../../scss/page/index.scss */
  .login_min a {
    margin-left: 800px;
  }
}
/* line 241, ../../scss/page/index.scss */
.class {
  margin: 20px auto;
  overflow: hidden;
  width: 80%;
  max-width: 1024px;
}
/* line 246, ../../scss/page/index.scss */
.class .row {
  margin-right: 0;
  margin-left: 0;
}
/* line 250, ../../scss/page/index.scss */
.class .item {
  margin-top: 20px;
  padding: 10px;
}
/* line 253, ../../scss/page/index.scss */
.class .item a:hover {
  text-decoration: none;
}
/* line 256, ../../scss/page/index.scss */
.class .item img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
  opacity: 0.8;
}
/* line 262, ../../scss/page/index.scss */
.class .item:hover img {
  opacity: 1;
}
/* line 265, ../../scss/page/index.scss */
.class .item p {
  background-color: #EFEFEF;
  border-radius: 0 0 10px 10px;
  line-height: 90px;
  height: 90px;
  text-align: center;
  color: #E05E3E;
  font-size: 16px;
  font-weight:bold;
  overflow: hidden;
}

@media (max-width: 1200px) {
  /* line 278, ../../scss/page/index.scss */
  .class .item p {
    line-height: 70px;
    height: 70px;
  }
}
@media (max-width: 992px) {
  /* line 284, ../../scss/page/index.scss */
  .class .item p {
    line-height: 70px;
    height: 75px;
  }
}
@media (max-width: 768px) {
  /* line 290, ../../scss/page/index.scss */
  .class .item p {
    line-height: 70px;
    height: 70px;
  }
}
/* line 296, ../../scss/page/index.scss */
.tab-content {
  background-color: #E6E6E6;
}

/* line 299, ../../scss/page/index.scss */
.works {
  position: relative;
}
/* line 302, ../../scss/page/index.scss */
.works ul.nav > li {
  display: table-cell;
  vertical-align: bottom;
  width: 1%;
}
/* line 306, ../../scss/page/index.scss */
.works ul.nav > li a {
  background-color: #DFDFDF;
  color: grey;
  margin-bottom: 0;
  border: none;
  padding: 20px 15px;
  position: relative;
  top: 10px;
}
/* line 314, ../../scss/page/index.scss */
.works ul.nav > li a:hover {
  border: none;
}
/* line 318, ../../scss/page/index.scss */
.works ul.nav > li.active a {
  background-color: #2BACB5;
  padding-top: 20px;
  color: #FFF;
  border: none;
  padding: 30px 15px;
  top: 0px;
}
/* line 325, ../../scss/page/index.scss */
.works ul.nav > li.active a:hover {
  border: none;
}
/* line 329, ../../scss/page/index.scss */
.works ul.nav > li .selected {
  display: none;
}
/* line 332, ../../scss/page/index.scss */
.works ul.nav > li.active .selected {
  left: 50%;
  bottom: 2px;
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #2BACB5;
  display: inline-block;
  margin: 0;
  width: 0px;
  height: 0px;
  margin-left: -10px;
  margin-bottom: -9px;
  z-index: 5;
}
/* line 348, ../../scss/page/index.scss */
.works .swiper-container {
  height: 440px;
  overflow: hidden;
}
/* line 351, ../../scss/page/index.scss */
.works .swiper-container .content-slide {
  overflow: hidden;
  height: 440px;
}
/* line 354, ../../scss/page/index.scss */
.works .swiper-container .content-slide .back {
  width: 1920px;
  float: right;
  margin-bottom: -440px;
}
/* line 359, ../../scss/page/index.scss */
.works .swiper-container .content-slide .back_min {
  display: none;
}
/* line 362, ../../scss/page/index.scss */
.works .swiper-container .content-slide .text {
  width: 800px;
  /*float: right;*/
  margin-right: 130px;
  margin-top: 80px;
}
/* line 367, ../../scss/page/index.scss */
.works .swiper-container .content-slide .text .step {
  display: none;
}
/* line 370, ../../scss/page/index.scss */
.works .swiper-container .content-slide .text .title {
  color: #ff3900;
  font-size: 28px;
  padding-bottom: 15px;
  border-bottom: #DAC2C2 solid thin;
}
/* line 376, ../../scss/page/index.scss */
.works .swiper-container .content-slide .text .content {
  font-size: 21px;
  margin-top: 15px;
  padding-left: 5px;
}
/* line 384, ../../scss/page/index.scss */
.works .arrow {
  display: none;
  position: absolute;
  width: 50px;
  background-color: #B6B7BC;
  z-index: 2;
  font-size: 32px;
  text-align: center;
  top: 37%;
}
/* line 393, ../../scss/page/index.scss */
.works .arrow.arrow-left {
  left: 0px;
}
/* line 396, ../../scss/page/index.scss */
.works .arrow.arrow-right {
  right: 0px;
}
/* line 400, ../../scss/page/index.scss */
.works .cover {
  position: absolute;
  width: 100%;
  height: 440px;
  z-index: 4;
}
/* line 406, ../../scss/page/index.scss */
.works .tabs {
  text-align: center;
  z-index: 5;
  position: absolute;
  bottom: 10px;
  font-size: 20px;
  width: 100%;
}
/* line 413, ../../scss/page/index.scss */
.works .tabs table {
  margin: 0 auto;
  max-width: 100%;
}
/* line 417, ../../scss/page/index.scss */
.works .tabs td {
  vertical-align: bottom;
  text-align: center;
}
/* line 420, ../../scss/page/index.scss */
.works .tabs td a {
  display: inline-block;
  text-align: center;
  line-height: 46px;
  color: #686767;
  position: relative;
  top: -16px;
  padding: 0 10px;
}
/* line 428, ../../scss/page/index.scss */
.works .tabs td a:hover {
  text-decoration: none;
}
/* line 431, ../../scss/page/index.scss */
.works .tabs td a.active {
  color: #fe4a1f;
  background-image: url("../../img/works/nav_active.png");
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 439, ../../scss/page/index.scss */
.works .tabs .nav_arrow {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../../img/works/nav_arrow.png");
  background-repeat: no-repeat;
}
/* line 446, ../../scss/page/index.scss */
.works .tabs .nav_line {
  display: block;
  width: 100%;
  height: 1px;
  position: relative;
  top: -15px;
  z-index: -1;
}

@media (max-width: 992px) {
  /* line 458, ../../scss/page/index.scss */
  .works .swiper-container {
    height: 375px;
    overflow: hidden;
  }
  /* line 461, ../../scss/page/index.scss */
  .works .swiper-container .content-slide {
    height: 375px;
    position: relative;
  }
  /* line 464, ../../scss/page/index.scss */
  .works .swiper-container .content-slide .back {
    display: none;
  }
  /* line 467, ../../scss/page/index.scss */
  .works .swiper-container .content-slide .back_min {
    display: block;
    width: 100%;
    float: right;
    min-width: 550px;
    margin-bottom: -100%;
  }
  /* line 474, ../../scss/page/index.scss */
  .works .swiper-container .content-slide .text {
    background-color: #000;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
    /* IE6-8 */
  }
  /* line 490, ../../scss/page/index.scss */
  .works .swiper-container .content-slide .text .step {
    display: block;
    color: #F9D7CD;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 40px;
    margin: 0;
  }
  /* line 498, ../../scss/page/index.scss */
  .works .swiper-container .content-slide .text .title {
    font-size: 32px;
    padding: 15px 40px;
    margin: 0;
    border-bottom: none;
  }
  /* line 504, ../../scss/page/index.scss */
  .works .swiper-container .content-slide .text .content {
    padding: 0px 40px;
    margin: 0;
    font-size: 22px;
    color: #FFF;
  }
  /* line 514, ../../scss/page/index.scss */
  .works .arrow {
    display: block;
  }
  /* line 517, ../../scss/page/index.scss */
  .works .cover {
    display: none;
  }
  /* line 520, ../../scss/page/index.scss */
  .works .tabs {
    display: none;
  }
}
/* line 526, ../../scss/page/index.scss */
.down {
  margin: 10px 0;
  overflow: hidden;
}
/* line 529, ../../scss/page/index.scss */
.down .box {
  float: left;
  padding: 0;
  width: 50%;
}
/* line 533, ../../scss/page/index.scss */
.down .box.employer {
  background-color: #DBEBD0;
}
/* line 535, ../../scss/page/index.scss */
.down .box.employer .title {
  background-color: #6EB7BD;
}
/* line 538, ../../scss/page/index.scss */
.down .box.employer .content {
  background-color: #A5C191;
}
/* line 542, ../../scss/page/index.scss */
.down .box.staff {
  background-color: #F3B7AF;
}
/* line 544, ../../scss/page/index.scss */
.down .box.staff .title {
  background-color: #EA6554;
}
/* line 547, ../../scss/page/index.scss */
.down .box.staff .content {
  background-color: #F0988C;
}
/* line 551, ../../scss/page/index.scss */
.down .box .title {
  color: #FFF;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 30px 35px;
  padding: 10px;
  position: relative;
}
/* line 559, ../../scss/page/index.scss */
.down .box .title img {
  position: absolute;
  right: 10px;
  height: 32px;
}
/* line 565, ../../scss/page/index.scss */
.down .box .content {
  margin-top: 120px;
  height: 220px;
  width: 100%;
  text-align: center;
  margin: 120px auto 0 auto;
}
/* line 571, ../../scss/page/index.scss */
.down .box .content .padding {
  width: 5%;
}
/* line 574, ../../scss/page/index.scss */
.down .box .content .item {
  vertical-align: top;
  height: 60px;
  width: 22.5%;
}
/* line 578, ../../scss/page/index.scss */
.down .box .content .item img {
  height: 120px;
  position: relative;
  top: -60px;
  display: block;
  margin: 0 auto;
}
/* line 586, ../../scss/page/index.scss */
.down .box .content .arrow {
  vertical-align: top;
  width: 11.25%;
  height: 60px;
}
/* line 590, ../../scss/page/index.scss */
.down .box .content .arrow img {
  width: 59px;
  height: 50px;
  position: relative;
  top: -25px;
  display: block;
  margin: 0 auto;
}
/* line 599, ../../scss/page/index.scss */
.down .box .content .text {
  vertical-align: middle;
  text-align: center;
  color: #FFF;
  font-size: 26px;
  font-weight: bold;
  position: relative;
  top: -60px;
}

@media (max-width: 1280px) and (min-width: 1024px) {
  /* line 613, ../../scss/page/index.scss */
  .down .box .title {
    font-size: 24px;
    margin: 20px;
  }
  /* line 616, ../../scss/page/index.scss */
  .down .box .title img {
    padding: 0px;
    height: 24px;
  }
  /* line 621, ../../scss/page/index.scss */
  .down .box .content {
    margin-top: 80px;
    height: 150px;
  }
  /* line 625, ../../scss/page/index.scss */
  .down .box .content .item img {
    width: 100px;
    height: 100px;
    top: -50px;
  }
  /* line 632, ../../scss/page/index.scss */
  .down .box .content .arrow img {
    width: 40px;
    height: 34px;
    top: -17px;
  }
  /* line 638, ../../scss/page/index.scss */
  .down .box .content .text {
    font-size: 18px;
    top: -50px;
  }
}
@media (max-width: 1024px) {
  /* line 649, ../../scss/page/index.scss */
  .down .box {
    width: 100%;
  }
}
@media (max-width: 640px) {
  /* line 613, ../../scss/page/index.scss */
  .down .box .title {
    font-size: 24px;
    margin: 20px;
  }
  /* line 616, ../../scss/page/index.scss */
  .down .box .title img {
    padding: 0px;
    height: 24px;
  }
  /* line 621, ../../scss/page/index.scss */
  .down .box .content {
    margin-top: 80px;
    height: 150px;
  }
  /* line 625, ../../scss/page/index.scss */
  .down .box .content .item img {
    width: 100px;
    height: 100px;
    top: -50px;
  }
  /* line 632, ../../scss/page/index.scss */
  .down .box .content .arrow img {
    width: 40px;
    height: 34px;
    top: -17px;
  }
  /* line 638, ../../scss/page/index.scss */
  .down .box .content .text {
    font-size: 18px;
    top: -50px;
  }
}
