.tagsinput{
  min-height: 20px !important;
}

#skill-tags_tag{
  padding: 0px;
  width: 120px;
}

/*編輯BTN*/

.tools a{
	color:white;
	text-decoration:none;
	font-weight:bold;
	}


/*編輯profile*/
.profile{ margin-top:30px; margin:15px 0 15px 0; padding:15px 0 15px 0; background-color:hsla(185,34%,79%,0.08);}

.profile .title{ line-height:60%;}

.profile .text{line-height:95%; padding-top:12px;}



.ac_results {
  width: auto !important;
}

.divcss5{
  /*border:1px solid #000;*/
  /*width:300px;*/
  /*height:100px;*/
  overflow:hidden
}

.divcss5 img{
  max-width:300px;
  max-height:400px;
}

td
{
   
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
