


/* Backgrounds */

.bg-navy {    background-color: $navy; }
.bg-blue {    background-color: $blue; }
.bg-darkblue {    background-color: $darkblue; }
.bg-aqua {    background-color: $aqua; }
.bg-teal {    background-color: $teal; }
.bg-darkteal {    background-color: $darkteal; }
.bg-olive {   background-color: $olive; }
.bg-green {   background-color: $green; }
.bg-lime {    background-color: $lime; }
.bg-lightlime {  background-color: $lightlime; }
.bg-yellow {  background-color: $yellow; }
.bg-orange {  background-color: $orange; }
.bg-red {     background-color: $red; }
.bg-fuchsia { background-color: $fuchsia; }
.bg-purple {  background-color: $purple; }
.bg-darkpurple {  background-color: $darkpurple; }
.bg-maroon {  background-color: $maroon; }
.bg-brown {  background-color: $brown; }
.bg-white {   background-color: $white; }
.bg-gray {    background-color: $gray; }
.bg-darkgray {    background-color: $darkgray; }
.bg-silver {  background-color: $silver; }
.bg-lsilver{ background-color:$lsilver;}
.bg-black {   background-color: $black; }



/* Colors */

.Cnavy {       color: $navy; }
.Cblue {       color: $blue; }
.Cdarkblue {   color:$darkblue;}
.Caqua {       color: $aqua; }
.Cteal {       color: $teal; }
.Cdarkteal {   color: $darkteal;}
.Colive {      color: $olive; }
.Cgreen {      color: $green; }
.Clime {       color: $lime; }
.Cyellow {     color: $yellow; }
.Corange {     color: $orange; }
.Cred {        color: $red; }
.Cfuchsia {    color: $fuchsia; }
.Cpurple {     color: $purple; }
.Cdarkpurple { color: $darkpurple;}
.Cmaroon {     color: $maroon; }
.Cbrown {      color: $brown; }
.Cwhite {      color: $white; }
.Csilver {     color: $silver; }
.Clsliver{     color:$lsilver;}
.Cgray {       color: $gray; }
.Cblack {      color: $black; }
.Cdarkgray {   color: $darkgray;}

