body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:935px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:935px;
}
#u1 {
  position:absolute;
  left:2px;
  top:460px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:550px;
  top:540px;
  width:320px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1050px;
  top:540px;
  width:320px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
