body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:979px;
}
#u1 {
  position:absolute;
  left:2px;
  top:482px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:690px;
  top:540px;
  width:540px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:536px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:865px;
  top:583px;
  width:200px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
