<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>快樂工作</title>

  <!-- BEGIN STYLE -->
  <!-- BEGIN 核心樣式 -->
  <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/css-anima.css">
        <link rel="stylesheet" type="text/css" href="../../css/page/howitwork.css">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <!--<link rel="stylesheet/less" type="text/css" href="less/page/index.less">-->
        <link rel="shortcut icon" href="../../favicon.ico"/>
        <!-- END STYLE -->
      </head>
      <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
              <i class="fa fa-search"></i>
            </button>
            <a class="navbar-brand" href="../../index.html"><img class="navbar-logo" src="../../img/logo208.png" alt="快樂工作"></a>
          </div>
           <!--  <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
              </div> -->
              <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="../../login.html">會員登入</a></li>
                  <li><a href="../../sign_up.html">免費註冊</a></li>
                </ul>
              </div>
            </div>
            <!-- END NAVBAR -->
            <!-- BEGIN PAGE -->
            <body>
              <div class="page-content bg-white">
                <section id="menu" class="hiw-group ">
                 <div class="hiw-container">
                  <h1 class="title bottom100">
                   帶入自己的遠距工作者
                 </h1>
                 <h3 class="text-center">邀請您已經認識，但還沒有在Telework註冊的遠距離工作者前來工作，完成下列表單就能送出申請</h3>
                 <hr class="top50 bottom50"> 
                 <div class="well well-sm">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="row">
                          <div class="col-md-12">
                           <div class="form-group">
                            <label for="name">
                              姓氏</label>
                              <input type="text" class="form-control" id="lastname" placeholder="輸入您的姓氏" required="required" />
                            </div>
                          </div>
                          <div class="col-md-12">                         
                            <div class="form-group">
                              <label for="name">
                                名字</label>
                                <input type="text" class="form-control" id="firstname" placeholder="輸入您的名字" required="required" />
                              </div>
                            </div>
                            <div class="col-md-12">
                             <div class="form-group">
                              <label for="email">
                                電子郵件信箱</label>
                                <div class="input-group">
                                  <span class="input-group-addon"><span><i class="fa fa-envelope"></i></span>
                                </span>
                                <input type="email" class="form-control" id="email" placeholder="輸入電子信箱" required="required" /></div>
                              </div>
                            </div>
                          </div>                 
                        </div>

                        <div class="col-md-7">
                          <div class="form-group">
                            <label for="name">
                              案件名稱</label>
                              <input type="text" class="form-control" id="casename" placeholder="輸入案件名稱" required="required" />
                            </div>
                            <div class="row">
                              <div class="col-sm-4">
                               <div class="form-group">
                                <label for="name">
                                  案件類型</label>
                                  <div class="top7">
                                    <input type="radio" name="feetype" value="1" checked=""> 時薪制
                                    <input type="radio" name="feetype" value="2"> 固定薪資制
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">         
                                <div id="feetype1" class="desc">                                                 
                                  <div class="form-group">
                                    <label for="name">
                                      每週時數</label>
                                      <div class="top7">
                                        <input type="radio" name="timelimit" checked="" value="3"> 無限制
                                        <input type="radio" name="timelimit"  value="4"> 有限制
                                      </div>
                                    </div>          
                                  </div>
                                </div>
                                <div class="col-sm-5">
                                  <div id="timelimit3" class="box"></div>
                                  <div id="timelimit4" class="box" style="display:none;">
                                   <div class="form-group">
                                    <label for="email">
                                      每個禮拜預計時數</label>
                                      <div class="input-group">
                                        <input type="email" class="form-control" id="email" placeholder="輸入預計時數" required="required" />
                                        <span class="input-group-addon"><span>HR</span>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>                         
                            <div id="feetype2" class="desc" style="display:none;">
                              <div class="form-group" >
                                <label for="name">
                                  預計工資</label>
                                  <input type="text" class="form-control" id="fee" placeholder="輸入預計工資" required="required" />
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                             <div class="form-group">
                              <label for="name">
                                傳送給遠距工作者的訊息</label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                placeholder="訊息"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                             <div class="form-group">
                              <label for="name">
                                同意使用條款</label>
                                <input type="checkbox"> 同意
                                <p>上林市雖實！營好人本物石視來或該行石三響道太收他在、平是了詩……世時確近兒幾情根。戰自支理前的覺；至還助造：路題的念後，因照能本皮們他品在市由行起洋高家代子學式之充天說、不出安的為它出實裡節爭的一題了見上言不它開方好得種盡來究面個現音備不期必歌同的是老能乎！

                                  問變大最爭媽火界營直表意這代治義因身設事公大對即人臺提企開不月本教的而使的點代王過不：以食便看走年北幾水我速重院傳公一得。那相如學要少，家地喜器學馬分風省性來拉來……人配停國的、自高務？三事路，歡味那苦影小需類不是小雲內馬收在家？量出全機在了第統說結度境故，投舉總爭我保上可通；種候刻加同出無天同送反究，大明只、考工上表下新不備事工包，男費友去並里的的經空都機大在特了內、然人意品集間優合界報發風色：技聲清空把們</p>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <button type="submit" class="btn btn-info pull-right" id="btnContactUs">
                                  聯絡我們</button>
                                </div>
                              </div>
                            </form>
                          </div>
                          <p class="text-right top50"><a href="SandBYOT.html" title="回到上一頁"><i class="fa fa-arrow-circle-left fa-4x"></i></a></p>
                        </div>
                        <br><br><br>

                      </section>

                    </div>
                  </body>
                  <!-- END PAGE -->
                  <!-- BEGIN FOOTER -->
                  <script language="javascript" type="text/javascript" 
                  src="../../masterpage/footer.txt"></script>
                  <!-- END FOOTER -->

                  <!-- BEGIN JAVASCRIPTS -->
                  <!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <script src="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../js/script.js"></script>
            <script type="text/javascript" src="../../js/element.js"></script>
            <!--<script type="text/javascript" src="js/page/index.js"></script>-->
            <script>
              jQuery(document).ready(function() {    
               Web.init();
               //Index.init();
             });
            </script>

            
            <script src="../../plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
            <script src="../../plugins/owl-carousel/assets/js/google-code-prettify/prettify.js"></script>
            <script src="../../plugins/owl-carousel/assets/js/application.js"></script>


            <!--END RANG BAR JS-->
            <script type="text/javascript">
              $(document).ready(function() {
                $("input[name$='feetype']").click(function() {
                  var test = $(this).val();

                  $("div.desc").hide();
                  $("div.box").hide();
                  $("#feetype" + test).show();
                });
              });
            </script>
            <script type="text/javascript">
              $(document).ready(function() {
                $("input[name$='timelimit']").click(function() {
                  var test = $(this).val();

                  $("div.box").hide();
                  $("#timelimit" + test).show();
                });
              });
            </script>

            <!-- END JAVASCRIPTS -->
            <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
        <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
      </body>
      </html>
