<!DOCTYPE html>
<html>
<head>

  <%
        @seos.each do |seo|
          if seo.page == "groupIns"
            case seo.key
            when "title"
                meta_title seo.content
            when "keywords"
                meta_keywords seo.content
            when "description"
                meta_description seo.content
            when "author"
                meta_author seo.content
            end
          end
        end
    %>

  <title><%= yield(:title).presence || "Default title" %></title>
  <meta name="keywords" content="<%= yield(:meta_keywords).presence || "default, keywords" %>" />
  <meta name="description" content="<%= yield(:meta_description).presence || "Default description" %>" />
  <meta name="author" content="<%= yield(:meta_author).presence || "Default Author" %>" />

  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>快樂工作</title>

  <!-- BEGIN STYLE -->
  <!-- BEGIN 核心樣式 -->
  <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="../../css/css-anima.css">
        <link rel="stylesheet" type="text/css" href="../../css/page/howitwork.css">
        <!-- <link rel="stylesheet" type="text/css" href="../../css/flat-ui.css"> -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/group.css">
        <!--<link rel="stylesheet/less" type="text/css" href="less/page/index.less">-->
        <link rel="shortcut icon" href="../../favicon.ico"/>

        <!-- END STYLE -->
      </head>
      <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
              <i class="fa fa-search"></i>
            </button>
            <a class="navbar-brand" href="../../index.html"><img class="navbar-logo" src="../../img/logo208.png" alt="快樂工作"></a>
          </div>
           <!--  <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
              </div> -->
              <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="../../login.html">會員登入</a></li>
                  <li><a href="../../sign_up.html">免費註冊</a></li>
                </ul>
              </div>
            </div>
            <!-- END NAVBAR -->
            <!-- BEGIN PAGE -->
            <body>
              <div class="page-content bg-white">
                <section class="hiw-group">
                 <div class="hiw-container">
                  <h1 class="title bottom100">
                    BigCommerce的社群
                  </h1>
                  <hr class="top50 bottom50">
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="row">
                        <div class="col-xs-6 col-sm-12">
                          <img class="img-responsive" src="http://placehold.it/250/1C5A74/A3DAD8&text=BC" style="width:100%" alt="img">
                          <hr>
                          <div class="hidden-lg hidden-md">

                            <button type="button" class="btn btn-primary bottom7">申請加入社群</button>

                            <button type="button" class="btn btn-info bottom7">刊登工作到社群</button>
                            <hr>
                          </div>
                        </div>

                        <div class="col-xs-6 col-sm-12 ">
                          <div class="row">
                            <div class="col-md-3 form-group text-center-lg"><b class="Cblue">769</b><br/><small class="Cteal">成員數</small></div>
                            <div class="col-md-3 form-group text-center-lg"><b class="Cblue">3</b><br/><small class="Cteal">招募中的工作</small></div>
                            <div class="col-md-3 form-group text-center-lg"><b class="Cblue">4.38</b><br/><small class="Cteal">平均評價</small></div>
                            <div class="col-md-3 form-group text-center-lg"><b class="Cblue">$13.69</b><br/><small class="Cteal">平均案件薪資</small></div>
                          </div>
                        </div>
                        <div class="col-sm-12">


                         <div class="hidden-sm hidden-xs">
                           <hr>
                           <button type="button" class="btn btn-primary bottom7">申請加入社群</button>
                           <button type="button" class="btn btn-info bottom7">刊登工作到社群</button>
                         </div>
                         <p class="top17">大共省即易是著必腳苦還了防讀動教為高二形銀、計環反中出說給斷情乎構物須試強這綠本獲高被德打了又面大大地冷成要：天目覺銀。本禮不負委月……還子業一一遊二林術眼快和。他步個研方同學說事習有親得。經水水息生很我間；美力面所臺且人後？不了體：生山說益要起沒造辦們陸快劇們王在達至創們食是，現間氣高電很記，子時兩開他林去自望人代地張去就友道有面、須突手成我視受、的小。

                          經了全作都到三打回機……器生多？我去最太印分新記世了，將死在老老由，海元歷四你壓式理接。美流般簡眼於裡，來國興拿我體險場造實中？們風評正入多的黃化飛究醫經！來國世算清世叫企但觀充當一標我仍中，賽消市經士光動無頭紅能，在義夫，不時務親分系的可麗數，到臺於評球說地以場美中全己戲生孩種，中主地天見市就觀訴不的委理爭去快地行的取他力家出了！</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <h2 class="Cblue text-center bottom50">
                          BigCommerce的遠距工作者
                        </h2>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="input-group" style="margin-top:20px;">
                              <input type="text" class="form-control" placeholder="搜尋遠距工作者">
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                              </span>
                            </div>
                          </div>
                          <div class="col-md-offset-2 col-sm-4">
                            <nav>
                              <ul class="pagination">
                                <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                              </ul>
                            </nav>
                          </div>
                        </div>
                        <hr class="bottom30">
                        <div class="row">
                          <div class="col-md-6 top17">
                            <!--Card with basic actions-->
                            <div class="block-update-card status card-M">
                             <a class="pull-left" href="#">
                               <img class="media-object update-card-MDimentions" src="http://placehold.it/80/7ba3a8/FFF&text=F" alt="img">
                             </a>
                             <div class="update-card-body">
                              <div class="update-card-body">
                                <h4>Tom Brace </h4>
                                <h5><strong class="Cdarkgray">遠距工作者</strong></h5>
                                <h4><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star-o Cyellow"></span> <strong class="Cgray">(3.95)</strong></h4>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 top17">
                          <!--Card with basic actions-->
                          <div class="block-update-card status card-M">
                           <a class="pull-left" href="#">
                             <img class="media-object update-card-MDimentions" src="http://placehold.it/80/7ba3a8/FFF&text=F" alt="img">
                           </a>
                           <div class="update-card-body">
                            <div class="update-card-body">
                              <h4>Tom Brace </h4>
                              <h5><strong class="Cdarkgray">遠距工作者</strong></h5>
                              <h4><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star-o Cyellow"></span> <strong class="Cgray">(3.95)</strong></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 top17">
                        <!--Card with basic actions-->
                        <div class="block-update-card status card-M">
                         <a class="pull-left" href="#">
                           <img class="media-object update-card-MDimentions" src="http://placehold.it/80/7ba3a8/FFF&text=F" alt="img">
                         </a>
                         <div class="update-card-body">
                          <div class="update-card-body">
                            <h4>Tom Brace </h4>
                            <h5><strong class="Cdarkgray">遠距工作者</strong></h5>
                            <h4><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star-o Cyellow"></span> <strong class="Cgray">(3.95)</strong></h4>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 top17">
                      <!--Card with basic actions-->
                      <div class="block-update-card status card-M">
                       <a class="pull-left" href="#">
                         <img class="media-object update-card-MDimentions" src="http://placehold.it/80/7ba3a8/FFF&text=F" alt="img">
                       </a>
                       <div class="update-card-body">
                        <div class="update-card-body">
                          <h4>Tom Brace </h4>
                          <h5><strong class="Cdarkgray">遠距工作者</strong></h5>
                          <h4><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star Cyellow"></span><span class=" fa fa-star-o Cyellow"></span> <strong class="Cgray">(3.95)</strong></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="top100 bottom100">
              <div class="form-group">
                <div class="form-group">
                  <h2 class="Cblue text-center bottom50">
                    BigCommerce的案件
                  </h2>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="input-group" style="margin-top:20px;">
                      <input type="text" class="form-control" placeholder="搜尋您需要案件">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-offset-2 col-sm-4">
                      <nav>
                        <ul class="pagination">
                          <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  <hr class="bottom30">
                  <div class="row">
                    <div class="col-md-6 top17">
                      <!--Card with basic actions-->
                      <div class="block-update-card status card-M">
                       <div class="update-card-body">
                        <div class="update-card-body">
                          <h4 style="font-size:1.1em; color:#45b29d;">資料收集</h4>
                          <h5><strong class="Cgray">時薪制</strong></h5>
                          <p class="card-text-over">有進飯書生王地相很是紙走：境不動應友打。王發便。孩國身花展實前一學懷音果失強響：員然商牛吃，適出選上道時之評……就邊美：以酒大離土是少方為！愛市業要電、上民一我：小小奇一。初這古保是開究門強心山提草紅以望可它、不小策明會人家界我轉東精可司求。</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 top17">
                    <!--Card with basic actions-->
                    <div class="block-update-card status card-M">
                     <div class="update-card-body">
                      <div class="update-card-body">
                        <h4 style="font-size:1.1em; color:#45b29d;">資料收集</h4>
                        <h5><strong class="Cgray">時薪制</strong></h5>
                        <p class="card-text-over">有進飯書生王地相很是紙走：境不動應友打。王發便。孩國身花展實前一學懷音果失強響：員然商牛吃，適出選上道時之評……就邊美：以酒大離土是少方為！愛市業要電、上民一我：小小奇一。初這古保是開究門強心山提草紅以望可它、不小策明會人家界我轉東精可司求。</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 top17">
                  <!--Card with basic actions-->
                  <div class="block-update-card status card-M">
                   <div class="update-card-body">
                    <div class="update-card-body">
                      <h4 style="font-size:1.1em; color:#45b29d;">資料收集</h4>
                      <h5><strong class="Cgray">時薪制</strong></h5>
                      <p class="card-text-over">有進飯書生王地相很是紙走：境不動應友打。王發便。孩國身花展實前一學懷音果失強響：員然商牛吃，適出選上道時之評……就邊美：以酒大離土是少方為！愛市業要電、上民一我：小小奇一。初這古保是開究門強心山提草紅以望可它、不小策明會人家界我轉東精可司求。</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 top17">
                <!--Card with basic actions-->
                <div class="block-update-card status card-M">
                 <div class="update-card-body">
                  <div class="update-card-body">
                    <h4 style="font-size:1.1em; color:#45b29d;">資料收集</h4>
                    <h5><strong class="Cgray">時薪制</strong></h5>
                    <p class="card-text-over">有進飯書生王地相很是紙走：境不動應友打。王發便。孩國身花展實前一學懷音果失強響：員然商牛吃，適出選上道時之評……就邊美：以酒大離土是少方為！愛市業要電、上民一我：小小奇一。初這古保是開究門強心山提草紅以望可它、不小策明會人家界我轉東精可司求。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section id="section01" class="hiw-group">
  <div class="hiw-container">

  </div>
</section>
</div>
</body>
<!-- END PAGE -->
<!-- BEGIN FOOTER -->
<script language="javascript" type="text/javascript"
src="../../masterpage/footer.txt"></script>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS -->
<!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <script src="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../js/script.js"></script>
            <script type="text/javascript" src="../../js/element.js"></script>
            <!--<script type="text/javascript" src="js/page/index.js"></script>-->
            <script>
              jQuery(document).ready(function() {
               Web.init();
               //Index.init();
             });
            </script>
            <script>
             var activeEl = 4;
             $(function() {
              var items = $('.btn-nav');
              $( items[activeEl] ).addClass('active');
              $( ".btn-nav" ).click(function() {
                $( items[activeEl] ).removeClass('active');
                $( this ).addClass('active');
                activeEl = $( ".btn-nav" ).index( this );
              });
            });
           </script>

           <!--END RANG BAR JS-->


           <!-- END JAVASCRIPTS -->
           <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
        <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
      </body>
      </html>
