<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>快樂工作</title>

  <!-- BEGIN STYLE -->
  <!-- BEGIN 核心樣式 -->
  <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="../../css/css-anima.css">
        <link rel="stylesheet" type="text/css" href="../../css/page/howitwork.css">
        <!-- <link rel="stylesheet" type="text/css" href="../../css/flat-ui.css"> -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/group.css">
        <!--<link rel="stylesheet/less" type="text/css" href="less/page/index.less">-->
        <link rel="shortcut icon" href="../../favicon.ico"/>
        
        <!-- END STYLE -->
      </head>
      <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
              <i class="fa fa-search"></i>
            </button>
            <a class="navbar-brand" href="../../index.html"><img class="navbar-logo" src="../../img/logo208.png" alt="快樂工作"></a>
          </div>
           <!--  <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
              </div> -->
              <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="../../login.html">會員登入</a></li>
                  <li><a href="../../sign_up.html">免費註冊</a></li>
                </ul>
              </div>
            </div>
            <!-- END NAVBAR -->
            <!-- BEGIN PAGE -->
            <body>
              <div class="page-content bg-white">
                <section id="menu" class="hiw-group ">
                 <div class="hiw-container">
                   <h1 class="title bottom100">
                    TeleWork企業社群
                  </h1>
                  <hr>
                  <div class="row text-center top100">
                    <div class="col-sm-4">
                      <div class="gCircle">
                       <h4 style="padding-top:25px;">雇主</h4>
                       <p style="padding:20px 20px; ">找到符合您需求的人才，在線上進行預先審視，當然，在社群內的人才通常會是您所需要特定範圍的專業人士。</p>
                     </div>    
                   </div>
                   <div class="col-sm-4">
                     <div class="gCircle">
                       <h4 style="padding-top:25px;">遠距工作者</h4>
                       <p style="padding:20px 20px; ">在社群內找到適合您的工作機會。在社群內行銷你自己，加入特殊社群也會在個人資料中曝光，增加專業度。</p>
                     </div>    
                   </div>
                   <div class="col-sm-4">
                     <div class="gCircle">
                       <h4 style="padding-top:25px;">社群贊助商</h4>
                       <p style="padding:20px 20px; ">創建屬於您的專屬社群，您就能擁有管理權限。
                         <br>
                         <a href="#">立刻連絡我們，建立社群。</a></p>
                       </div>    
                     </div>
                     <div class="col-sm-12 top50">
                      <div class="well">
                        <h2 class="title bottom50 Cdarkblue">
                         TeleWork企業社群如何運作?
                       </h2>

                       <ol class="text-left Cdarkteal">
                         <li>社群贊助商設力加入篩選條件。</li>
                         <li>遠距工作者可以申請加入社群。</li>
                         <li>社群贊助商可以審查申請加入的遠距工作者。</li>
                         <li>雇主可以刊登工作在特定社群內，當作預先審是遠距工作者的測驗。</li>
                       </ol>
                     </div>
                   </div>
                 </div>
                   <!-- <div class="col-sm-4">
                     <button class="button-border-highlight button-circle">其他</button>
                   </div> -->
                 </div>
               </section>
            <!--  <section id="menu01" class="bg-lsilver hiw-group">
              <div class="hiw-container">
                <h1 class="title bottom50">
                 TeleWork企業社群如何運作?
               </h1>
               <div style="margin-left:120px; margin-right:120px;" class="Cdarkteal">
                 <ol>
                   <li>社群贊助商設力加入篩選條件。</li>
                   <li>遠距工作者可以申請加入社群。</li>
                   <li>社群贊助商可以審查申請加入的遠距工作者。</li>
                   <li>雇主可以刊登工作在特定社群內，當作預先審是遠距工作者的測驗。</li>
                 </ol>
               </div>
             </div>
           </section> -->
           <section id="section01" class="hiw-group">
            <div class="hiw-container">
              <h1 class="title bottom100">
                社群列表
              </h1>
              <hr class="top50 bottom50">
              <div class="row bottom50">
                <div>
                  <nav>
                  <ul class="pagination pull-right">
                      <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                    </ul>
                  </nav>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <!--Card with basic actions-->
                  <div class="block-update-card status card-L">
                   <a class="pull-left" href="#">
                     <img class="media-object update-card-MDimentions" src="http://placehold.it/80/1C5A74/A3DAD8&text=BC" alt="img">
                   </a>
                   <div class="update-card-body">
                    <div class="update-card-body">
                      <h4>BigCommerce <span class="btn-group badge">400  </span></h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus velit at pellentesque interdum. Cras felis velit, bibendum vel leo a, euismod cursus mi. Phasellus accumsan neque non molestie imperdiet. Donec fringilla sodales bibendum. Vestibulum vitae rutrum augue. Proin tortor est, finibus vel cursus et, dapibus finibus justo. Pellentesque.. </p>
                    </div>
                  </div>
                  <div class="card-action-pellet btn-toolbar" role="toolbar">
                    <div class="btn-group fa fa-plus-square-o"></div>    
                  </div>
                </div>
              </div>
              <div class="col-sm-12 top17">
                <!--Card with basic actions-->
                <div class="block-update-card status card-L">
                 <a class="pull-left" href="#">
                   <img class="media-object update-card-MDimentions" src="http://placehold.it/80/1C5A74/A3DAD8&text=BC" alt="img">
                 </a>
                 <div class="update-card-body">
                  <div class="update-card-body">
                    <h4>BigCommerce <span class="btn-group badge">400  </span></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus velit at pellentesque interdum. Cras felis velit, bibendum vel leo a, euismod cursus mi. Phasellus accumsan neque non molestie imperdiet. Donec fringilla sodales bibendum. Vestibulum vitae rutrum augue. Proin tortor est, finibus vel cursus et, dapibus finibus justo. Pellentesque.. </p>
                  </div>
                </div>
                <div class="card-action-pellet btn-toolbar" role="toolbar">
                  <div class="btn-group fa fa-plus-square-o"></div>    
                </div>
              </div>
            </div>
            <div class="col-sm-12 top17">
              <!--Card with basic actions-->
              <div class="block-update-card status card-L">
               <a class="pull-left" href="#">
                 <img class="media-object update-card-MDimentions" src="http://placehold.it/80/1C5A74/A3DAD8&text=BC" alt="img">
               </a>
               <div class="update-card-body">
                <div class="update-card-body">
                  <h4>BigCommerce <span class="btn-group badge">400  </span></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus velit at pellentesque interdum. Cras felis velit, bibendum vel leo a, euismod cursus mi. Phasellus accumsan neque non molestie imperdiet. Donec fringilla sodales bibendum. Vestibulum vitae rutrum augue. Proin tortor est, finibus vel cursus et, dapibus finibus justo. Pellentesque.. </p>
                </div>
              </div>
              <div class="card-action-pellet btn-toolbar" role="toolbar">
                <div class="btn-group fa fa-plus-square-o"></div>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section01" class="hiw-group">
      <div class="hiw-container">
        <h1 class="title bottom100">
          TeleWork企業社群申請表
        </h1>
        <p style="width:90%; margin-left:auto; margin-right:auto;">感謝您對於建立TeleWork企業社群感到興趣。TeleWork企業社群幫助贊助商預先審視他們想要雇用的遠距工作者，並且提供給遠距工作者專屬的案件機會。企業社群讓雇主能更快速雇用專業人才，您申請建立的企業社群專業必須有詳細說明提供雇主與遠距工作者參考。目前企業社群計劃將由TeleWork篩選優質的企業社群合作夥伴，如果您考慮申請建立專屬於您的企業社群，請填寫下列表單，我們將盡速審查您的申請資料。
        </p>
        <hr class="top50 bottom50">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="well well-sm">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="username">
                        您在Telework的帳號</label>
                        <input type="text" class="form-control" id="username" placeholder="輸入您的帳號" required="required" />
                      </div>
                      <div class="form-group">
                        <label for="email">
                          您的電子郵件信箱</label>
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"></i>
                            </span>
                            <input type="email" class="form-control" id="email" placeholder="輸入電子信箱" required="required" /></div>
                          </div>
                          <div class="form-group">
                            <label for="ad">
                              您將如何宣傳您的企業社群?</label>
                              <textarea name="ad" id="ad" class="form-control" rows="7" cols="25" required="required"
                              placeholder="如何宣傳"></textarea>
                            </div>
                          </div>
                          <div class="col-md-6">
                           <div class="form-group">
                            <label for="server">
                              請簡述您的公司從事的業務及服務範圍。</label>
                              <textarea name="server" id="server" class="form-control" rows="3" cols="25" required="required"
                              placeholder="簡述您的公司從事的業務及服務範圍"></textarea>
                            </div>
                            <div class="form-group">
                              <label for="group">
                                請簡述您為何想要創立企業社群?
                              </label>
                              <textarea name="group" id="group" class="form-control" rows="3" cols="25" required="required"
                              placeholder="請簡述您為何想要創立企業社群?"></textarea>
                            </div>
                            <div class="form-group">
                              <label for="skill">
                                您公司服務的客戶或對想所期待的專業領域及技能為何?</label>
                                <textarea name="skill" id="skill" class="form-control" rows="3" cols="25" required="required"
                                placeholder="所期待的專業領域及技能為何?"></textarea>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <button type="submit" class="btn btn-info pull-right" id="btnContactUs">
                                聯絡我們</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>  
                </section>
              </div>
            </body>
            <!-- END PAGE -->
            <!-- BEGIN FOOTER -->
            <script language="javascript" type="text/javascript" 
            src="../../masterpage/footer.txt"></script>
            <!-- END FOOTER -->

            <!-- BEGIN JAVASCRIPTS -->
            <!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <script src="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../js/script.js"></script>
            <script type="text/javascript" src="../../js/element.js"></script>
            <!--<script type="text/javascript" src="js/page/index.js"></script>-->
            <script>
              jQuery(document).ready(function() {    
               Web.init();
               //Index.init();
             });
            </script>            
            <script>
             var activeEl = 4;
             $(function() {
              var items = $('.btn-nav');
              $( items[activeEl] ).addClass('active');
              $( ".btn-nav" ).click(function() {
                $( items[activeEl] ).removeClass('active');
                $( this ).addClass('active');
                activeEl = $( ".btn-nav" ).index( this );
              });
            });
           </script>

           <!--END RANG BAR JS-->


           <!-- END JAVASCRIPTS -->
           <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
        <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
      </body>
      </html>
