<!DOCTYPE html>
<html>
<head>

  <%
        @seos.each do |seo|
          if seo.page == "howitworkP3_f"
            case seo.key
            when "title"
                meta_title seo.content
            when "keywords"
                meta_keywords seo.content
            when "description"
                meta_description seo.content
            when "author"
                meta_author seo.content
            end
          end
        end
    %>

  <title><%= yield(:title).presence || "Default title" %></title>
  <meta name="keywords" content="<%= yield(:meta_keywords).presence || "default, keywords" %>" />
  <meta name="description" content="<%= yield(:meta_description).presence || "Default description" %>" />
  <meta name="author" content="<%= yield(:meta_author).presence || "Default Author" %>" />

  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>快樂工作</title>

  <!-- BEGIN STYLE -->
  <!-- BEGIN 核心樣式 -->
  <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/css-anima.css">
        <link rel="stylesheet" type="text/css" href="../../css/page/howitwork.css">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <!--<link rel="stylesheet/less" type="text/css" href="less/page/index.less">-->
        <link rel="shortcut icon" href="../../favicon.ico"/>
        <!-- END STYLE -->
      </head>
      <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
              <i class="fa fa-search"></i>
            </button>
            <a class="navbar-brand" href="../../index.html"><img class="navbar-logo" src="../../img/logo208.png" alt="快樂工作"></a>
          </div>
           <!--  <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
              </div> -->
              <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="../../login.html">會員登入</a></li>
                  <li><a href="../../sign_up.html">免費註冊</a></li>
                </ul>
              </div>
            </div>
            <!-- END NAVBAR -->
            <!-- BEGIN PAGE -->
            <body>
              <div class="page-content bg-white">
                <section class="hiw-container">
                  <!--NAV-->
                  <div class="row">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav" onClick="location.href='howitwork.html'">
                          <span class="glyphicon glyphicon-info-sign"></span>
                          <p>什麼是telework?</p>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav" onClick="location.href='howitworkP2.html'">
                          <span class="glyphicon glyphicon-signal"></span>
                          <p>使用流程</p>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav" onClick="location.href='howitworkP3.html'">
                          <span class="glyphicon glyphicon-book"></span>
                          <p>使用指南</p>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav">
                          <span class="glyphicon glyphicon-usd"></span>
                          <p>會員收費標準</p>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav" onClick="location.href='howitworkP5.html'">
                          <span class=" glyphicon glyphicon-question-sign"></span>
                          <p>常見問題</p>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!--/NAV-->
                </section>
                <section id="menu" class="hiw-group ">
                 <div class="hiw-container">
                  <h1 class="title bottom100">
                   關於Telework的使用指南
                 </h1>
                 <hr>
                 <div class="row text-center top100">
                   <div class="col-sm-4">
                     <button onclick="window.location.href='howitworkP3.html'" class="button-border-highlight button-circle">雇主使用指南</button>
                   </div>
                   <div class="col-sm-4">
                     <button onclick="window.location.href='howitworkP3_f.html'" class="button-border-highlight button-circle active">遠距工作者使用指南</button>
                   </div>
                   <div class="col-sm-4">
                     <button onclick="window.location.href='howitworkP3_other.html'" class="button-border-highlight button-circle">其他</button>
                   </div>
                 </div>
               </div>
               <br><br><br>
             </section>
             <section id="menu01" class="bg-lsilver hiw-group">
              <div class="hiw-container">
                <h1 class="title bottom50">
                 遠距工作者使用指南
               </h1>
               <div class="row">
                 <div class="col-sm-6">
                   <div class="panel panel-warning text-center">
                    <div class="panel-heading"><h2>時薪制案件</h2></div>
                    <div class="panel-body">
                      <a href="#section01">申請案件</a>
                      <hr>
                      <a href="#section02">確認合約</a>
                      <hr>
                      <a href="#section03">工作日誌 / TeleWork軟體</a>
                      <hr>
                      <a href="#section04">確認薪資
                        |申請退款</a>
                        <hr>
                        <a href="#section05">評價雇主</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="panel panel-warning text-center">
                      <div class="panel-heading"><h2>固定薪資制案件</h2></div>
                      <div class="panel-body">
                        <a href="#section06">申請案件</a>
                        <hr>
                        <a href="#section07">確認合約</a>
                        <hr>
                        <a href="#section08">交付案件
                        </a>
                        <hr>
                        <a href="#section09">確認薪資</a>
                        <hr>
                        <a href="#section10">評價雇主</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section id="section01" class="hiw-group bg-white">
              <div class="hiw-container">
                <h1 class="title bottom100">
                  時薪制案件
                </h1>
                <h2 class="text-center Cdarkteal">
                  申請案件
                </h2>
                <hr class="top50 bottom50">


                <div class="row">
                  <div class="row featurette">
                    <div class="col-sm-6">
                      <div class="pGroup">
                        <h4><i class="fa fa-arrow-circle-o-right"></i> 搜尋案件</h4>
                        <p>選擇一個您想要申請的案件。
                        </p>
                      </div>
                      <div class="pGroup">
                        <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇時薪制案件</h4>
                        <p>案件通常分為時薪制/固定薪資制，您可以選擇時薪制案件後開始進行申請。
                        </p>
                      </div>
                      <div class="pGroup">
                        <h4><i class="fa fa-arrow-circle-o-right"></i> 如何搜尋您想要的案件</h4>
                        <p>您可以透過輸入關鍵字，例如網頁設計搜尋相關案件，搜尋結果將顯示在左方畫面上。
                        </p>
                      </div>
                      <div class="pGroup">
                        <h4><i class="fa fa-arrow-circle-o-right"></i> 雇主發送的案件邀請</h4>
                        <p>您可能收到來自雇主的案件邀請，您可以在案件列表中看到列表，點選後可以開始進行面試對談。
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div style="height:280px; overflow-y:scroll; text-align:center;">
                        <img class="img-responsive" src="../../img/userguide/search_page.png" alt="img">
                      </div>
                    </div>
                  </div>
                  <hr class="top50 bottom50">

                  <div class="row featurette">
                    <div class="col-sm-6">
                      <div style="height:280px; overflow-y:scroll; text-align:center;">
                        <img class="img-responsive" src="../../img/userguide/apply.png" alt="img" >
                      </div>
                    </div>
                    <div class="col-sm-6">
                     <div class="pGroup">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> 設定每小時薪資</h4>
                      <p>選擇一個您想要申請的案件後，進入申請畫面，您可以設定您想要的工資。
                      </p>
                    </div>
                    <div class="pGroup">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> 設定每週工作時數</h4>
                      <p>您可以輸入您每周預計工作時數，方便雇主參考是否符合案件需求，您輸入後雇主也可能給你建議進而修改。
                      </p>
                    </div>
                    <div class="pGroup">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> 發送訊息給雇主</h4>
                      <p>您提出的申請必須填入申請的訊息，輸入您的申請訊息給雇主，良好的溝通是申請是否成功的關鍵，快說說您為合適合這個工作吧。
                      </p>
                    </div>
                    <div class="pGroup">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> 發送附件</h4>
                      <p>您如果有相關文件欲發送雇主，您可以夾帶檔案傳送給雇主參考，提高雇主對您的認識。
                      </p>
                    </div>
                    <div class="pGroup">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> 送出申請</h4>
                      <p>案件送出申請後將出現在，申請中的案件清單中，您可以透過清單查看案件申請狀態，追蹤申請進度。
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
            </div>
          </section>
          <section id="section02" class="hiw-group bg-white">
            <div class="hiw-container">
              <h2 class="text-center Cdarkteal">
                確認合約內容
              </h2>
              <hr class="top50 bottom50">
              <div class="row">
                <div class="row featurette">
                  <div class="col-sm-6">
                    <div class="pGroup">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> 面試訊息</h4>
                      <p>您的申請雇主回覆後，將會已訊息與您進行溝通，您可以透過傳送訊息與雇主達成共識。
                      </p>
                    </div>
                    <div class="pGroup">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> 修改合約工資</h4>
                      <p>您可以根據雇主提出的需求修改工資(如有需要)，修改後將會傳送新的合約內容讓雇主進行審核。
                      </p>
                    </div>
                    <div class="pGroup">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> 放棄申請</h4>
                      <p>您如果無法符合雇主對於您提出的要求，可以透過取消申請，我們將會刪除此筆申請記錄。

                      </p>
                    </div>
                    <div class="pGroup">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> 雇主發送的案件邀請</h4>
                      <p>您可能收到來自雇主的案件邀請，您可以在案件列表中看到列表，點選後可以開始進行面試對談。
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div>
                      <img class="img-responsive" src="../../img/userguide/interview.png" alt="img">
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
            </div>
          </section>
          <section id="section03"  class="hiw-group bg-white">
            <div class="hiw-container">
              <h2 class="text-center Cdarkteal">
                工作日誌 | Telework 軟體
              </h2>
              <hr class="top50 bottom50">
              <div class="row featurette">

                <div class="col-sm-6">
                 <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇案件</h4>
                  <p>您可以選擇您要看得工作案件，選擇完後下方螢幕截圖畫面會更動，方變您修改Meno。
                  </p>
                </div>
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇日期</h4>
                  <p>您可以您想觀看工作日誌的時間範圍，選擇後您將可以看到特定日期區間內的工作活動。
                  </p>
                </div>
              </div>
              <div class="col-sm-6">
                <img class="img-responsive" src="../../img/userguide/workingdiary.png" alt="img">
              </div>
            </div>
            <hr class="top50 bottom50">
            <div class="row featurette">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6 bottom17-xs text-center-xs">
                    <div >
                      <img class="img-responsive" src="../../img/userguide/9.jpg" alt="img" >
                    </div>
                  </div>
                  <div class="col-sm-6 text-center-xs">
                    <div >
                      <img class="img-responsive" src="../../img/userguide/11.jpg" alt="img" >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
               <div class="pGroup">
                <h4><i class="fa fa-arrow-circle-o-right"></i> 如何開始工作</h4>
                <p>您的申請通過後，您可以透過我的案件中進行管理，時薪制的工作會需要使用TeleWork App進行工作管理與追蹤，您必須下載TeleWork開始時薪制工作。
                </p>
              </div>
              <div class="pGroup">
                <h4><i class="fa fa-arrow-circle-o-right"></i> 使用TeleWork App追蹤進度</h4>
                <p>下載安裝完成後(如下圖)，您必須先登入您在TeleWork帳號，並且選擇您想要開始進行的案件，按下開始工作，程式將會自動記錄您的工作歷程，並且將上傳截圖制工作日誌。
                </p>
              </div>
              <div class="pGroup">
                <h4><i class="fa fa-arrow-circle-o-right"></i> 案件工作上限</h4>
                <p>如果雇主有設定每週工作上限，您若是已經達到最大上限，您將無法使用TeleWork App進行工作案件追蹤，意即您將無法記錄工作，雇主將不會看到您額外的工作記錄。
                </p>
              </div>
              <div class="pGroup">
                <h4><i class="fa fa-arrow-circle-o-right"></i> 自定工作時間</h4>
                <p>如果雇主有設定允許額外的工作時間，您可以透過TeleWork App上傳每週工作上限已外的工作內容至TeleWork網站，雇主將會看到您額外的工作歷程。
                </p>
              </div>
            </div>
          </div>
          <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
        </div>
      </section>
      <section id="section04"  class="hiw-group bg-white">
        <div class="hiw-container">
          <h2 class="text-center Cdarkteal">
            確認薪資 | 申請退款
          </h2>
          <hr class="top50 bottom50">


          <div class="row featurette">
            <h3 class="Cdarkteal text-center bottom30">確認薪資</h3>
            <div class="col-sm-6">
              <div class="pGroup">
                <h4><i class="fa fa-arrow-circle-o-right"></i> 匯款紀錄</h4>
                <p>您可以您想觀看特定案件的匯款紀錄，主要有上週與本週的匯款紀錄。</p>
              </div>
              <div class="pGroup">
                <h4><i class="fa fa-arrow-circle-o-right"></i> 調降工資</h4>
                <p>您可以主動要求提出調降薪資，提出申請後系統將重新開啟一個案件提醒雇主接受，確定後您必須重新接受案件合約。</p>
              </div>
              <div class="pGroup">
                <h4><i class="fa fa-arrow-circle-o-right"></i> 傳送訊息</h4>
                <p>傳送訊息給雇主，如果您欲與雇主進行溝通。</p>
              </div>
              <div class="pGroup">
                <h4><i class="fa fa-arrow-circle-o-right"></i> 案件資訊</h4>
                <p>您可以查看目前案件編號，申請提出退款，或是提前終止合約，合約終止後您將無法得到雇主的工資。</p>
              </div>
              <div class="pGroup">
                <h4><i class="fa fa-arrow-circle-o-right"></i> 檢視訊息列表</h4>
                <p>檢視您與此雇主所有的訊息歷程。</p>
              </div>
            </div>
            <div class="col-sm-6">
              <img class="img-responsive" src="../../img/userguide/case.png" alt="img">
            </div>
          </div>
          <hr class="top50 bottom50">
          <div class="row featurette">
           <h3 class="Cdarkteal text-center bottom30">付款記錄</h3>
           <div class="col-sm-6">
            <img class="img-responsive" src="../../img/userguide/payment.png" alt="img">
          </div>
          <div class="col-sm-5">
           <div class="pGroup">
            <h4><i class="fa fa-arrow-circle-o-right"></i> 案件報表</h4>
            <p>您的案件報表可以檢視您的款項記錄，可以檢視進行中的案件、審核中的案件、擱置中的、已經完成的案件匯款紀錄。
            </p>
          </div>
          <div class="pGroup">
            <h4><i class="fa fa-arrow-circle-o-right"></i> 出帳週期</h4>
            <p>TeleWork的出帳週期為XXXXXXXX，如果您對於您的帳款記錄有任何疑問，請於出帳週期發生之前確認您的款項並且向雇主或是TeleWork提出。
            </p>
          </div>
        </div>
      </div>
      <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
    </div>
  </section>
  <section id="section05"  class="hiw-group">
    <div class="hiw-container">
      <h2 class="text-center Cdarkteal">
        評價遠距工作者畫面
      </h2>
      <hr class="top50 bottom50">
      <div class="row">
        <div class="col-sm-12 text-center">
         <div style="height:400px; overflow-y:scroll; text-align:center;">
           <img class="img-responsive" src="../../img/userguide/feedback-f.png" alt="img" width="90%">
         </div>
       </div>
     </div>
     <hr class="top50 bottom50">
     <div class="row">
       <div class="col-sm-3">
         <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇案件</h4>
          <p>確認您想要評價的案件</p>
        </div>
      </div>
      <div class="col-sm-3">
       <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 評估項目</h4>
        <p> <i class="fa fa-angle-right"></i> 專業技巧&nbsp;&nbsp;  <i class="fa fa-angle-right"></i> 要求的質量</p>
        <p><i class="fa fa-angle-right"></i> 溝通技巧&nbsp;&nbsp; <i class="fa fa-angle-right"></i> 合作態度</p>
        <p><i class="fa fa-angle-right"></i> 合理的交件日&nbsp;&nbsp; <i class="fa fa-angle-right"></i> 有效的</p>
      </div>
    </div>
    <div class="col-sm-3">
     <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 留言</h4>
      <p>寫下您對於此遠距工作者在案件中的評價。</p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 送出</h4>
      <p>確認後送出您對此雇主的評價。</p>
    </div>
  </div>
</div>
<p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>
<hr>
<section id="section06"  class="hiw-group">
  <div class="hiw-container">
    <h1 class="title bottom100">
      固定薪資制案件
    </h1>

    <h2 class="text-center Cdarkteal">
      申請案件
    </h2>
    <hr class="top50 bottom50">


    <div class="row">
      <div class="row featurette">
        <div class="col-sm-6">
          <div class="pGroup">
            <h4><i class="fa fa-arrow-circle-o-right"></i> 搜尋案件</h4>
            <p>選擇一個您想要申請的案件。
            </p>
          </div>
          <div class="pGroup">
            <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇固定案件</h4>
            <p>案件通常分為時薪制/固定薪資制，您可以選擇時薪制案件後開始進行申請。
            </p>
          </div>
          <div class="pGroup">
            <h4><i class="fa fa-arrow-circle-o-right"></i> 如何搜尋您想要的案件</h4>
            <p>您可以透過輸入關鍵字，例如網頁設計搜尋相關案件，搜尋結果將顯示在左方畫面上。
            </p>
          </div>
          <div class="pGroup">
            <h4><i class="fa fa-arrow-circle-o-right"></i> 雇主發送的案件邀請</h4>
            <p>您可能收到來自雇主的案件邀請，您可以在案件列表中看到列表，點選後可以開始進行面試對談。
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div style="height:280px; overflow-y:scroll; text-align:center;">
            <img class="img-responsive" src="../../img/userguide/search_page.png" alt="img">
          </div>
        </div>
      </div>
      <hr class="top50 bottom50">

      <div class="row featurette">
        <div class="col-sm-6">
          <div style="height:280px; overflow-y:scroll; text-align:center;">
            <img class="img-responsive" src="../../img/userguide/apply.png" alt="img" >
          </div>
        </div>
        <div class="col-sm-6">
         <div class="pGroup">
           <h4><i class="fa fa-arrow-circle-o-right"></i> 輸入案件預算</h4>
           <p>提出您對於案件的預算，請注意填入適當的案件預算，太高的預算可能讓雇主卻步。
           </p>
         </div>
         <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i>輸入案件預算</h4>
          <p>提出您對於案件的預算，請注意填入適當的案件預算，太高的預算可能讓雇主卻步。
          </p>
        </div>
        <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 輸入自我介紹</h4>
          <p>您可以向雇主說明您為合適合申請此案件的原因，說明詳細將有助於雇主對於您的了解。
          </p>
        </div>
        <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 發送附件</h4>
          <p>您如果有相關文件欲發送雇主，您可以夾帶檔案傳送給雇主參考，提高雇主對您的認識。
          </p>
        </div>
        <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 送出申請</h4>
          <p>案件送出申請後將出現在，申請中的案件清單中，您可以透過清單查看案件申請狀態，追蹤申請進度。
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</section>
<section id="section07" class="hiw-group bg-white">
  <div class="hiw-container">
    <h2 class="text-center Cdarkteal">
      確認合約內容
    </h2>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-12 text-center">
       <div style="height:400px; overflow-y:scroll; text-align:center;">
         <img class="img-responsive" src="../../img/userguide/interview.png" alt="img" width="90%">
       </div>
     </div>
   </div>
   <hr class="top50 bottom50">
   <div class="row">
    <div class="row featurette">
    <div class="col-sm-5 col-sm-offset-1">
        <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 面試訊息</h4>
          <p>您的申請雇主回覆後，將會已訊息與您進行溝通，您可以透過傳送訊息與雇主達成共識。
          </p>
        </div>
        <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 修改合約工資</h4>
          <p>您可以根據雇主提出的需求修改工資(如有需要)，修改後將會傳送新的合約內容讓雇主進行審核。
          </p>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 放棄申請</h4>
          <p>您如果無法符合雇主對於您提出的要求，可以透過取消申請，我們將會刪除此筆申請記錄。

          </p>
        </div>
        <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 開始工作</h4>
          <p>您一旦接受合約後就開始進行工作，遠距工作者需依照合約進行工作，您將會根據合約內容完成工作與雇主完成確認後進行款項確認。雇主也可能在案件進行中發送獎勵金。
          </p>
        </div>
      </div>
    </div>
  </div>
  <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>

<section id="section08"  class="hiw-group">
  <div class="hiw-container">
    <h2 class="text-center Cdarkteal">
      案交付畫面件畫面
    </h2>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-12 text-center">
       <div style="height:400px; overflow-y:scroll; text-align:center;">
         <img class="img-responsive" src="../../img/userguide/contract-view-fixprice.png" alt="img" width="90%">
       </div>
     </div>
   </div>
   <hr class="top50 bottom50">
   <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
     <div class="pGroup top100">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 確認案件成果</h4>
      <p>您將透過確認案件成果與雇主達成共識，確認您完成案件的項目，您在案件開始前可能會根據合約收到訂金，剩餘尾款的部分將由雇主確認成果項目在進行匯出。
      </p>
    </div>
    <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 傳送訊息給雇主</h4>
      <p>在您把案件完成後，可以通過訊息通知顧主已經完成案件。</p>
    </div>
  </div>

</div>
<p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>
<section id="section09"  class="hiw-group bg-white">
  <div class="hiw-container">
    <h2 class="text-center Cdarkteal">
      確認薪資
    </h2>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-12 text-center">
       <div style="height:400px; overflow-y:scroll; text-align:center;">
         <img class="img-responsive" src="../../img/userguide/payment.png" alt="img" width="90%">
       </div>
     </div>
   </div>
   <hr class="top50 bottom50">
   <div class="row featurette">
    <div class="col-sm-6 col-offset-sm-1">
      <div class="pGroup">
       <h4><i class="fa fa-arrow-circle-o-right"></i> 案件報表</h4>
       <p>您的案件報表可以檢視您的款項記錄，可以檢視進行中的案件、審核中的案件、擱置中的、已經完成的案件匯款紀錄。
       </p>
     </div>
     <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 出帳週期</h4>
      <p>TeleWork的出帳週期為XXXXXXXX，如果您對於您的帳款記錄有任何疑問，請於出帳週期發生之前確認您的款項並且向雇主或是TeleWork提出
      </p>
    </div>
  </div>
</div>
<p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>
<section id="section10"  class="hiw-group">
  <div class="hiw-container">
    <h2 class="text-center Cdarkteal">
      評價遠距工作者畫面
    </h2>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-12 text-center">
       <div style="height:400px; overflow-y:scroll; text-align:center;">
         <img class="img-responsive" src="../../img/userguide/feedback-f.png" alt="img" width="90%">
       </div>
     </div>
   </div>
   <hr class="top50 bottom50">
   <div class="row">
     <div class="col-sm-3">
       <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇案件</h4>
        <p>確認您想要評價的案件</p>
      </div>
    </div>
    <div class="col-sm-3">
     <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 評估項目</h4>
      <p> <i class="fa fa-angle-right"></i> 專業技巧&nbsp;&nbsp;  <i class="fa fa-angle-right"></i> 要求的質量</p>
      <p><i class="fa fa-angle-right"></i> 溝通技巧&nbsp;&nbsp; <i class="fa fa-angle-right"></i> 合作態度</p>
      <p><i class="fa fa-angle-right"></i> 合理的交件日&nbsp;&nbsp; <i class="fa fa-angle-right"></i> 有效的</p>
    </div>
  </div>
  <div class="col-sm-3">
   <div class="pGroup">
    <h4><i class="fa fa-arrow-circle-o-right"></i> 留言</h4>
    <p>寫下您對於此遠距工作者在案件中的評價。</p>
  </div>
</div>
<div class="col-sm-3">
  <div class="pGroup">
    <h4><i class="fa fa-arrow-circle-o-right"></i> 送出</h4>
    <p>確認後送出您對此雇主的評價。</p>
  </div>
</div>
</div>
<p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>
</div>
</body>
<!-- END PAGE -->
<!-- BEGIN FOOTER -->
<script language="javascript" type="text/javascript"
src="../../masterpage/footer.txt"></script>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS -->
<!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <script src="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../js/script.js"></script>
            <script type="text/javascript" src="../../js/element.js"></script>
            <!--<script type="text/javascript" src="js/page/index.js"></script>-->
            <script>
              jQuery(document).ready(function() {
               Web.init();
               //Index.init();
             });
            </script>


            <script src="../../plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
            <script src="../../plugins/owl-carousel/assets/js/google-code-prettify/prettify.js"></script>
            <script src="../../plugins/owl-carousel/assets/js/application.js"></script>
            <script>
             var activeEl = 2;
             $(function() {
              var items = $('.btn-nav');
              $( items[activeEl] ).addClass('active');
              $( ".btn-nav" ).click(function() {
                $( items[activeEl] ).removeClass('active');
                $( this ).addClass('active');
                activeEl = $( ".btn-nav" ).index( this );
              });
            });
           </script>

           <!--END RANG BAR JS-->


           <!-- END JAVASCRIPTS -->
           <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
        <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
      </body>
      </html>
