<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>快樂工作</title>

  <!-- BEGIN STYLE -->
  <!-- BEGIN 核心樣式 -->
  <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/css-anima.css">
        <link rel="stylesheet" type="text/css" href="../../css/page/howitwork.css">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <!--<link rel="stylesheet/less" type="text/css" href="less/page/index.less">-->
        <link rel="shortcut icon" href="../../favicon.ico"/>
        <!-- END STYLE -->
      </head>
      <body>
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
              <i class="fa fa-search"></i>
            </button>
            <a class="navbar-brand" href="../../index.html"><img class="navbar-logo" src="../../img/logo208.png" alt="快樂工作"></a>
          </div>
           <!--  <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
              </div> -->
              <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="../../login.html">會員登入</a></li>
                  <li><a href="../../sign_up.html">免費註冊</a></li>
                </ul>
              </div>
            </div>
            <!-- END NAVBAR -->
            <!-- BEGIN PAGE -->
            <body>
              <div class="page-content bg-white">
                <section class="hiw-container">
                  <!--NAV-->
                  <div class="row">
                    <div class="btn-group btn-group-justified">
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav" onClick="location.href='howitwork.html'">
                          <span class="glyphicon glyphicon-info-sign"></span>
                          <p>什麼是telework?</p>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav" onClick="location.href='howitworkP2.html'">
                          <span class="glyphicon glyphicon-signal"></span>
                          <p>使用流程</p>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav" onClick="location.href='howitworkP3.html'">
                          <span class="glyphicon glyphicon-book"></span>
                          <p>使用指南</p>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav">
                          <span class="glyphicon glyphicon-usd"></span>
                          <p>會員收費標準</p>
                        </button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-nav" onClick="location.href='howitworkP5.html'">
                          <span class=" glyphicon glyphicon-question-sign"></span>
                          <p>常見問題</p>
                        </button>
                      </div>  
                    </div>
                  </div>
                  <!--/NAV-->
                </section>
                <section id="menu" class="hiw-group ">
                 <div class="hiw-container">
                  <h1 class="title bottom100">
                   關於Telework的使用指南
                 </h1>
                 <hr>
                 <div class="row text-center top100">
                   <div class="col-sm-4">
                     <button onclick="window.location.href='howitworkP3.html'" class="button-border-highlight button-circle active">雇主使用指南</button>
                   </div>
                   <div class="col-sm-4">
                     <button onclick="window.location.href='howitworkP3_f.html'" class="button-border-highlight button-circle">遠距工作者使用指南</button>
                   </div>
                   <div class="col-sm-4">
                     <button onclick="window.location.href='howitworkP3_other.html'" class="button-border-highlight button-circle">其他</button>
                   </div>
                 </div>
               </div>
               <br><br><br>
             </section>
             <section id="menu01" class="bg-lsilver hiw-group">
              <div class="hiw-container">
                <h1 class="title bottom50">
                 雇主使用指南
               </h1>
               <div class="row">
                 <div class="col-sm-6">
                   <div class="panel panel-warning text-center">
                    <div class="panel-heading"><h2>時薪制案件</h2></div>
                    <div class="panel-body">
                      <a href="#section01">刊登案件</a>
                      <hr>
                      <a href="#section02">管理團隊</a>
                      <hr>
                      <a href="#section03">合約</a>
                      <hr>
                      <a href="#section04">工作日誌 / TeleWork軟體</a>
                      <hr>
                      <a href="#section05">評價遠距工作者</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="panel panel-warning text-center">
                    <div class="panel-heading"><h2>固定薪資制案件</h2></div>
                    <div class="panel-body">
                      <a href="#section06">刊登案件</a>
                      <hr>
                      <a href="#section07">管理團隊</a>
                      <hr>
                      <a href="#section08">合約</a>
                      <hr>
                      <a href="#section09">交付案件</a>
                      <hr>
                      <a href="#section10">評價遠距工作者</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="section01" class="hiw-group bg-white">
            <div class="hiw-container">
              <h1 class="title bottom100">
                時薪制案件
              </h1>
              <h2 class="text-center Cdarkteal">
                刊登案件
              </h2>
              <hr class="top50 bottom50">
              <div class="row">
                <div class="col-xs-12">
                  <div style="height:400px; overflow-y:scroll; text-align:center;">
                    <img class="img-responsive" width="90%" src="../../img/userguide/hire.png" alt="img">
                  </div>
                </div>
              </div>
              <hr class="top50 bottom50">
              <div class="row">
                <div class="col-sm-4">
                  <div class="pGroup">
                    <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇分類</h4>
                    <p>選擇一個案件的分類</p>
                  </div>
                  <div class="pGroup">
                    <h4><i class="fa fa-arrow-circle-o-right"></i> 擇所需的技能</h4>
                    <p>開始進行案件所需要的技能和專長</p>
                  </div>
                  <div class="pGroup">
                    <h4><i class="fa fa-arrow-circle-o-right"></i> 輸入案件標題</h4>
                    <p>描述您的案件標題(具體的案件描述有助於遠距工作者更快了解您的案件需求，幫助您更快找到對的人才)</p>
                  </div>
                  <div class="pGroup">
                    <h4><i class="fa fa-arrow-circle-o-right"></i> 輸入案件描述</h4>
                    <p>詳細描述您的案件需求，以及目前案件進行的狀況。通常案件描述會包含，詳細的技能要求，預計每週的工作量，或是您的特殊需求。</p>
                  </div>

                </div>
                <div class="col-sm-4">
                 <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 急件</h4>
                  <p>如果您的案件有附件可以提供遠距工作者參考，附上您的案件資料，幫助遠距工作者評估案件。</p>
                </div>
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 輸入期待專業程度</h4>
                  <p>輸入您期待的專業程度，有初級、中級、高級。</p>
                </div>    
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 預計工期</h4>
                  <p>您案件預計進行的時間。</p>
                </div>
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 兼職/全職</h4>
                  <p>您希望找的遠距工作者是兼職做遠距工作或是全職做遠距工作。</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 附件</h4>
                  <p>如果您有案件進行的參考附建，請您附上提供參考。</p>
                </div>
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 申請者條件</h4>
                  <p>如果您對於遠距工作者有進一步的測驗需求請您選擇不同的任正預先篩選遠距工作者。</p>
                </div>
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 自我介紹</h4>
                  <p>您可以提出要求，應徵案件的遠距工作者必須先填入自我介紹。</p>
                </div>
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 其他問題</h4>
                  <p>如果您有其他詳細問題想請遠距工作者回答請您填入您額外的問題。</p>
                </div>
              </div>
            </div>
            <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
          </div>
        </section>
        <section id="section02" class="hiw-group bg-white">
          <div class="hiw-container">
            <h2 class="text-center Cdarkteal">
              管理團隊
            </h2>
            <hr class="top50 bottom50">
            <div class="row">
              <div class="col-sm-12 text-center">
                <img class="img-responsive" src="../../img/userguide/group.png" alt="img" width="80%">
              </div>
            </div>
            <hr class="top50 bottom50">
            <div class="row">
              <div class="col-sm-4" style=" border-right: 1px solid #ccc;">
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 我的遠距工作者</h4>
                  <p>在此項目底下，是目前為您工作的遠距工作者，您可以透過旁邊的動作，管理遠距工作者。</p>
                </div>
                <div class="pGroup">
                  <h4><i class="fa fa-arrow-circle-o-right"></i> 可以應用的動作</h4>
                  <ul>
                    <li> 發送訊息</li>
                    <li> 檢視工作日誌</li>
                    <li> 檢視TimeSheet</li>
                    <li> 更改每週工作最高工作上限</li>
                    <li> 發送額外津貼</li>
                    <li> 檢視合約</li>
                    <li> 檢視作品集</li>
                    <li> 結束合約</li>
                  </ul>
                </div>
              </div>             
              <div class="col-sm-4">
                <div class="pGroup">
                  <h5><i class="fa fa-angle-right"></i> 發送訊息</h5>
                  <p class="p-h5">案件進行中您可以與遠距工作者進行溝通的管道。
                  </p>
                </div>
                <div class="pGroup">
                  <h5><i class="fa fa-angle-right"></i> 工作日誌</h5>
                  <p class="p-h5">觀看遠距工作者工作進度和歷程，方便您追工作進度。
                  </p>
                </div>
                <div class="pGroup">
                  <h5><i class="fa fa-angle-right"></i> TimeSheet</h5>
                  <p class="p-h5">檢視您案件的匯款紀錄，或是有其他尚未理的的匯款紀錄。
                  </p>
                </div>
                <div class="pGroup">
                  <h5><i class="fa fa-angle-right"></i> 更改工作最高上限</h5>
                  <p class="p-h5">您可以透過此項目修改，限定遠距工作者每週最高的工作上限。
                  </p>
                </div>
              </div>
              <div class="col-sm-4">
               <div class="pGroup">
                <h5><i class="fa fa-angle-right"></i> 額外津貼</h5>
                <p class="p-h5">您可以透過此項目傳送額外津貼給遠距工作者。
                </p>
              </div>
              <div class="pGroup">
                <h5><i class="fa fa-angle-right"></i> 檢視合約</h5>
                <p class="p-h5">檢視您與此遠距工作者的詳細合約資訊。
                </p>
              </div>
              <div class="pGroup">
                <h5><i class="fa fa-angle-right"></i> 檢視作品集</h5>
                <p class="p-h5">檢視此遠距工作者的作品集。
                </p>
              </div>
              <div class="pGroup">
                <h5><i class="fa fa-angle-right"></i> 結束合約</h5>
                <p class="p-h5">如果您想提前結束合約，請透過此項目終止目前案件合約。
                </p>
              </div>
            </div>
          </div>
          <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
        </div>
      </section>
      <section id="section03"  class="hiw-group bg-white">
        <div class="hiw-container">
          <h2 class="text-center Cdarkteal">
            合約詳細畫面
          </h2>
          <hr class="top50 bottom50">
          <div class="row">
            <div class="col-sm-12 text-center">
              <div style="height:400px; overflow-y:scroll; text-align:center;">
                <img class="img-responsive" src="../../img/userguide/contract.png" alt="img" width="90%">
              </div>
            </div>
          </div>
          <hr class="top50 bottom50">
          <div class="row">
            <div class="col-sm-4">
             <div class="pGroup">
               <h4><i class="fa fa-arrow-circle-o-right"></i> 發送獎勵金</h4>
               <p>發送額外獎金給遠距工作者。
               </p>
             </div>
             <div class="pGroup">
              <h4><i class="fa fa-arrow-circle-o-right"></i> 暫停合約</h4>
              <p>如果您欲暫時停止合約進行，您可以透過此項目暫停合約，合約暫停中將不會付給遠距工作者任何金額，直到您開始案件為止。
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pGroup">
              <h4><i class="fa fa-arrow-circle-o-right"></i> 提前終止合約</h4>
              <p>如果您欲提前終止合約，請透過此項目提前終止，終止合約後您將給付遠距工作者開案至今的工資。
              </p>
            </div>
            <div class="pGroup">
              <h4><i class="fa fa-arrow-circle-o-right"></i> 傳送訊息</h4>
              <p>傳訊訊息給遠距工作者。
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="pGroup">
              <h4><i class="fa fa-arrow-circle-o-right"></i> 合約記錄</h4>
              <p>詳細合約細節內容，例如案件開始日期，遠距工作者的每小時工資，截至目前您所給付給與遠距工作者的工資。
              </p>
            </div>
          </div>
        </div>
        <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
      </div>
    </section>
    <section id="section04"  class="hiw-group bg-white">
      <div class="hiw-container">
        <h2 class="text-center Cdarkteal">
          工作日誌畫面
        </h2>
        <hr class="top50 bottom50">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img class="img-responsive" src="../../img/userguide/working.png" alt="img" width="80%">
          </div>
        </div>
        <hr class="top50 bottom50">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <div class="pGroup">
              <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇遠距工作者</h4>
              <p>選擇您的遠距工作者，觀看他的工作歷程。(包含過去工作的選項可以讓你觀看過去或是已經結束的案件記錄。)</p>
            </div>
            <div class="pGroup">
              <h4><i class="fa fa-arrow-circle-o-right"></i> 項目名稱</h4>
              <p>遠距工作者當時工作項目名稱</p>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="pGroup">
              <h4><i class="fa fa-arrow-circle-o-right"></i> 時區選擇</h4>
              <p>選擇您的時區或是遠距工作者的時區觀看案件工作日誌。(利用日曆選擇您要觀看的時間區間)</p>
            </div>
            <div class="pGroup">
              <h4><i class="fa fa-arrow-circle-o-right"></i> 項目截圖</h4>
              <p>當時工作的結圖。(結圖必須透過TeleWork App上傳)</p>
            </div>
          </div>
        </div>
        <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
      </div>
    </section>
    <section id="section05"  class="hiw-group">
      <div class="hiw-container">
        <h2 class="text-center Cdarkteal">
          評價遠距工作者畫面
        </h2>
        <hr class="top50 bottom50">
        <div class="row">
          <div class="col-sm-12 text-center">
           <div style="height:400px; overflow-y:scroll; text-align:center;">
             <img class="img-responsive" src="../../img/userguide/feedback.png" alt="img" width="90%">
           </div>
         </div>
       </div>
       <hr class="top50 bottom50">
       <div class="row">
         <div class="col-sm-2 col-sm-offset-1">
           <div class="pGroup">
            <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇案件</h4>
            <p>確認您想要評價的案件</p>
          </div>
        </div>
        <div class="col-sm-2">
         <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 評估項目</h4>
          <p> <i class="fa fa-angle-right"></i> 專業技巧&nbsp;&nbsp;  <i class="fa fa-angle-right"></i> 作品品質</p>
          <p><i class="fa fa-angle-right"></i> 溝通技巧&nbsp;&nbsp; <i class="fa fa-angle-right"></i> 合作態度</p>
        </div>
      </div>
      <div class="col-sm-2">
       <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 留言</h4>
        <p>寫下您對於此遠距工作者在案件中的評價。</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 送出</h4>
        <p>確認後送出您對此遠距工作者的評價。</p>
      </div>
    </div>
  </div>
  <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>
<hr>
<section id="section06"  class="hiw-group">
  <div class="hiw-container">
    <h1 class="title bottom100">
      固定薪資制案件
    </h1>
    <h2 class="text-center Cdarkteal">
      刊登案件畫面
    </h2>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-12 text-center">
       <div style="height:400px; overflow-y:scroll; text-align:center;">
         <img class="img-responsive" src="../../img/userguide/hire-2.png" alt="img" width="90%">
       </div>
     </div>
   </div>
   <hr class="top50 bottom50">
   <div class="row">
    <div class="col-sm-4">
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇分類</h4>
        <p>選擇一個案件的分類</p>
      </div>
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 擇所需的技能</h4>
        <p>開始進行案件所需要的技能和專長</p>
      </div>
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 輸入案件標題</h4>
        <p>描述您的案件標題(具體的案件描述有助於遠距工作者更快了解您的案件需求，幫助您更快找到對的人才)</p>
      </div>
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 輸入案件描述</h4>
        <p>詳細描述您的案件需求，以及目前案件進行的狀況。通常案件描述會包含，詳細的技能要求，預計每週的工作量，或是您的特殊需求。</p>
      </div>

    </div>
    <div class="col-sm-4">
     <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 急件</h4>
      <p>如果您的案件有附件可以提供遠距工作者參考，附上您的案件資料，幫助遠距工作者評估案件。</p>
    </div>
    <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 預算</h4>
      <p>您案件算。</p>
    </div>    
    <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 預計完成日期</h4>
      <p>您案件預計進行的時間。</p>
    </div>
    <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 兼職/全職</h4>
      <p>您希望找的遠距工作者是兼職做遠距工作或是全職做遠距工作。</p>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 附件</h4>
      <p>如果您有案件進行的參考附建，請您附上提供參考。</p>
    </div>
    <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 申請者條件</h4>
      <p>如果您對於遠距工作者有進一步的測驗需求請您選擇不同的任正預先篩選遠距工作者。</p>
    </div>
    <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 自我介紹</h4>
      <p>您可以提出要求，應徵案件的遠距工作者必須先填入自我介紹。</p>
    </div>
    <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 其他問題</h4>
      <p>如果您有其他詳細問題想請遠距工作者回答請您填入您額外的問題。</p>
    </div>
  </div>
</div>
<p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</section>
<section id="section07" class="hiw-group bg-white">
  <div class="hiw-container">
    <h2 class="text-center Cdarkteal">
      管理團隊
    </h2>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img class="img-responsive" src="../../img/userguide/group.png" alt="img" width="80%">
      </div>
    </div>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-4" style=" border-right: 1px solid #ccc;">
        <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 我的遠距工作者</h4>
          <p>在此項目底下，是目前為您工作的遠距工作者，您可以透過旁邊的動作，管理遠距工作者。</p>
        </div>
        <div class="pGroup">
          <h4><i class="fa fa-arrow-circle-o-right"></i> 可以應用的動作</h4>
          <ul>
            <li> 發送訊息</li>
            <li> 檢視工作日誌</li>
            <li> 檢視TimeSheet</li>
            <li> 更改每週工作最高工作上限</li>
            <li> 發送額外津貼</li>
            <li> 檢視合約</li>
            <li> 檢視作品集</li>
            <li> 結束合約</li>
          </ul>
        </div>
      </div>             
      <div class="col-sm-4">
        <div class="pGroup">
          <h5><i class="fa fa-angle-right"></i> 發送訊息</h5>
          <p class="p-h5">案件進行中您可以與遠距工作者進行溝通的管道。
          </p>
        </div>
        <div class="pGroup">
          <h5><i class="fa fa-angle-right"></i> 工作日誌</h5>
          <p class="p-h5">觀看遠距工作者工作進度和歷程，方便您追工作進度。
          </p>
        </div>
        <div class="pGroup">
          <h5><i class="fa fa-angle-right"></i> TimeSheet</h5>
          <p class="p-h5">檢視您案件的匯款紀錄，或是有其他尚未理的的匯款紀錄。
          </p>
        </div>
        <div class="pGroup">
          <h5><i class="fa fa-angle-right"></i> 更改工作最高上限</h5>
          <p class="p-h5">您可以透過此項目修改，限定遠距工作者每週最高的工作上限。
          </p>
        </div>
      </div>
      <div class="col-sm-4">
       <div class="pGroup">
        <h5><i class="fa fa-angle-right"></i> 額外津貼</h5>
        <p class="p-h5">您可以透過此項目傳送額外津貼給遠距工作者。
        </p>
      </div>
      <div class="pGroup">
        <h5><i class="fa fa-angle-right"></i> 檢視合約</h5>
        <p class="p-h5">檢視您與此遠距工作者的詳細合約資訊。
        </p>
      </div>
      <div class="pGroup">
        <h5><i class="fa fa-angle-right"></i> 檢視作品集</h5>
        <p class="p-h5">檢視此遠距工作者的作品集。
        </p>
      </div>
      <div class="pGroup">
        <h5><i class="fa fa-angle-right"></i> 結束合約</h5>
        <p class="p-h5">如果您想提前結束合約，請透過此項目終止目前案件合約。
        </p>
      </div>
    </div>
  </div>
  <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>
<section id="section08"  class="hiw-group bg-white">
  <div class="hiw-container">
    <h2 class="text-center Cdarkteal">
      合約詳細畫面
    </h2>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-12 text-center">
        <div style="height:400px; overflow-y:scroll; text-align:center;">
          <img class="img-responsive" src="../../img/userguide/contract.png" alt="img" width="90%">
        </div>
      </div>
    </div>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-4">
       <div class="pGroup">
         <h4><i class="fa fa-arrow-circle-o-right"></i> 發送獎勵金</h4>
         <p>發送額外獎金給遠距工作者。
         </p>
       </div>
       <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 暫停合約</h4>
        <p>如果您欲暫時停止合約進行，您可以透過此項目暫停合約，合約暫停中將不會付給遠距工作者任何金額，直到您開始案件為止。
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 提前終止合約</h4>
        <p>如果您欲提前終止合約，請透過此項目提前終止，終止合約後您將給付遠距工作者開案至今的工資。
        </p>
      </div>
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 傳送訊息</h4>
        <p>傳訊訊息給遠距工作者。
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 合約記錄</h4>
        <p>詳細合約細節內容，例如案件開始日期，遠距工作者的每小時工資，截至目前您所給付給與遠距工作者的工資。
        </p>
      </div>
    </div>
  </div>
  <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>
<section id="section09"  class="hiw-group">
  <div class="hiw-container">
    <h2 class="text-center Cdarkteal">
      案交付畫面件畫面
    </h2>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-12 text-center">
       <div style="height:400px; overflow-y:scroll; text-align:center;">
         <img class="img-responsive" src="../../img/userguide/contract-d.png" alt="img" width="90%">
       </div>
     </div>
   </div>
   <hr class="top50 bottom50">
   <div class="row">
   <div class="col-sm-5 col-sm-offset-1">
       <div class="pGroup">
         <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇固定薪資案件後,您可以選擇案件進行狀態</h4>
         <p><i class="fa fa-angle-right"></i> 確認案件結束&nbsp;&nbsp; <i class="fa fa-angle-right"></i> 案件不符合需求&nbsp;&nbsp; <i class="fa fa-angle-right"></i> 追加工作項目</p>
       </div>
       <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 驗收項目</h4>
        <p>您可以透過建立里程碑項目追蹤交付項目，根據達成的里程碑依序付款。</p>
      </div>
    </div>
    <div class="col-sm-5"> 
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 項目不符合需求/追加項目</h4>
        <p>如果像目不如您所預期，您可以透過不符合需求或是追加項目，讓遠距工作者修改案件。</p>
      </div>
      <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 終止合約</h4>
        <p>如果您欲終止合約，您可以購過此項目終止合約，合約終止您將無法拿回曾經匯出的金額。</p>
      </div>
    </div>

  </div>
  <p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>
<section id="section10"  class="hiw-group">
  <div class="hiw-container">
    <h2 class="text-center Cdarkteal">
      評價遠距工作者畫面
    </h2>
    <hr class="top50 bottom50">
    <div class="row">
      <div class="col-sm-12 text-center">
       <div style="height:400px; overflow-y:scroll; text-align:center;">
         <img class="img-responsive" src="../../img/userguide/feedback.png" alt="img" width="90%">
       </div>
     </div>
   </div>
   <hr class="top50 bottom50">
   <div class="row">
     <div class="col-sm-2 col-sm-offset-1">
       <div class="pGroup">
        <h4><i class="fa fa-arrow-circle-o-right"></i> 選擇案件</h4>
        <p>確認您想要評價的案件</p>
      </div>
    </div>
    <div class="col-sm-2">
     <div class="pGroup">
      <h4><i class="fa fa-arrow-circle-o-right"></i> 評估項目</h4>
      <p> <i class="fa fa-angle-right"></i> 專業技巧&nbsp;&nbsp;  <i class="fa fa-angle-right"></i> 作品品質</p>
      <p><i class="fa fa-angle-right"></i> 溝通技巧&nbsp;&nbsp; <i class="fa fa-angle-right"></i> 合作態度</p>
    </div>
  </div>
  <div class="col-sm-2">
   <div class="pGroup">
    <h4><i class="fa fa-arrow-circle-o-right"></i> 留言</h4>
    <p>寫下您對於此遠距工作者在案件中的評價。</p>
  </div>
</div>
<div class="col-sm-2">
  <div class="pGroup">
    <h4><i class="fa fa-arrow-circle-o-right"></i> 送出</h4>
    <p>確認後送出您對此遠距工作者的評價。</p>
  </div>
</div>
</div>
<p class="text-right top17"><a href="#menu01" title="回到雇主指南"><i class="fa fa-chevron-circle-up fa-4x"></i> </a></p>
</div>
</section>
</div>
</body>
<!-- END PAGE -->
<!-- BEGIN FOOTER -->
<script language="javascript" type="text/javascript" 
src="../../masterpage/footer.txt"></script>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS -->
<!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <script src="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../js/script.js"></script>
            <script type="text/javascript" src="../../js/element.js"></script>
            <!--<script type="text/javascript" src="js/page/index.js"></script>-->
            <script>
              jQuery(document).ready(function() {    
               Web.init();
               //Index.init();
             });
            </script>

            
            <script src="../../plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
            <script src="../../plugins/owl-carousel/assets/js/google-code-prettify/prettify.js"></script>
            <script src="../../plugins/owl-carousel/assets/js/application.js"></script>
            <script>
             var activeEl = 2;
             $(function() {
              var items = $('.btn-nav');
              $( items[activeEl] ).addClass('active');
              $( ".btn-nav" ).click(function() {
                $( items[activeEl] ).removeClass('active');
                $( this ).addClass('active');
                activeEl = $( ".btn-nav" ).index( this );
              });
            });
           </script>

           <!--END RANG BAR JS-->


           <!-- END JAVASCRIPTS -->
           <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
        <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
      </body>
      </html>
