<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>快樂工作</title>

  <!-- BEGIN STYLE -->
  <!-- BEGIN 核心樣式 -->
  <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/css-anima.css">
        <link rel="stylesheet" type="text/css" href="../../css/page/solutions.css">
        <!--<link rel="stylesheet/less" type="text/css" href="less/page/index.less">-->
        <link rel="shortcut icon" href="../../favicon.ico"/>

      </style>
      <!-- END STYLE -->
    </head>
    <body>
      <!-- BEGIN NAVBAR -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
            <i class="fa fa-search"></i>
          </button>
          <a class="navbar-brand" href="../../index.html"><img class="navbar-logo" src="../../img/logo208.png" alt="快樂工作"></a>
        </div>
           <!--  <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
              </div> -->
              <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="../../login.html">會員登入</a></li>
                  <li><a href="../../sign_up.html">免費註冊</a></li>
                </ul>
              </div>
            </div>
            <!-- END NAVBAR -->
            <!-- BEGIN PAGE -->
            <body>
              <div class="page-content">
                <section class="s-container">
                  <h1 class="title top50 bottom50">
                    TeleWork幫您完成企業專案
                  </h1>
                  <div class="img-res">
                    <img class="img-responsive marpad" src="../../img/owl/stock-photo-group-of-business-people-having-meeting-in-office-84404903.jpg">
                  </div>           
                </section>
                <section >
                  <div class=" s-container s-group">
                   <h3 class="text-center s-title Cdarkteal top50">各領域的菁英人才</h3>
                   <hr>
                   <div class="row text-center">
                    <div class="col-sm-4 ">
                      <img class="img-circle Cicon" src="../../img/category-icon/Category icon V03-09.png" alt="image" style="width: 60%; height: auto;">
                      <h4 class="Cdarkteal">編寫軟體</h4>
                    </div>
                    <div class="col-sm-4">
                      <img class="img-circle Cicon" src="../../img/category-icon/Category icon V03-07.png" alt="image" style="width: 60%; height: auto;">
                      <h4 class="Cdarkteal">內容創作</h4>
                    </div>
                    <div class="col-sm-4">
                      <img class="img-circle Cicon" src="../../img/category-icon/Category icon V03-10.png" alt="image" style="width: 60%; height: auto;">
                      <h4 class="Cdarkteal">翻譯<br>內容在地化</h4>
                    </div>
                  </div>
                  <div class="row text-center top30">
                    <div class="col-sm-4">
                      <img class="img-circle Cicon" src="../../img/category-icon/Category icon V03-11.png" alt="image" style="width: 60%; height: auto;">
                      <h4 class="Cdarkteal">資料探勘</h4>
                    </div>
                    <div class="col-sm-4">
                      <img class="img-circle Cicon" src="../../img/category-icon/Category icon V03-12.png" alt="image" style="width: 60%; height: auto;">
                      <h4 class="Cdarkteal">社群媒體優化</h4>
                    </div>
                    <div class="col-sm-4">
                      <img class="img-circle Cicon" src="../../img/category-icon/Category icon V03-08.png" alt="image" style="width: 60%; height: auto;">
                      <h4 class="Cdarkteal">顧客服務</h4>
                    </div>
                  </div>
                </div>
              </section>
              <section class="bg-white">
                <br>
                <h3 class="text-center s-title Cdarkteal top150">由我們來幫您建置菁英團隊!</h3>
                <h3 class="text-center">您是否有自己的團隊?</h3>

                <div class="row text-center top100 bottom150">
                 <div class="col-md-4 col-md-offset-2">

                   <div class=" top17 bottom30">
                     <a  href="byot.html">  <img class="img-rounded yesno" src="../../img/category-icon/yesno-01.png" width="30%"></a>
                   </div>  
                   <h2 class="Cdarkteal"><a href="byot.html">我有自己的團隊</a></h2>

                 </div>
                 <div class="col-md-4">
                  <div class=" top17 bottom30">
                  <a href="solutions.html"><img class="img-rounded yesno" src="../../img/category-icon/yesno-02.png" width="30%"></a>
                  </div>  
                  <h2 class="Cdarkteal"><a href="solutions.html">我沒有自己的團隊</a></h2>
                </div>
              </div>

              <br><br>
            </section>


          </div>
        </body>
        <!-- END PAGE -->
        <!-- BEGIN FOOTER -->
        <script language="javascript" type="text/javascript" 
        src="../../masterpage/footer.txt"></script>
        <!-- END FOOTER -->

        <!-- BEGIN JAVASCRIPTS -->
        <!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <script src="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../js/script.js"></script>
            <!--<script type="text/javascript" src="js/page/index.js"></script>-->
            <script>
              jQuery(document).ready(function() {    
               Web.init();
               //Index.init();
             });
            </script>

            <script>
              $(window).scroll(function() {
                $('.Cicon').each(function(){
                  var imagePos = $(this).offset().top;

                  var topOfWindow = $(window).scrollTop();
                  if (imagePos < topOfWindow+700) {
                    $(this).addClass("pullUp");
                  }
                });
              });
            </script>
            <script>
              $(window).scroll(function() {
                $('#icon01').each(function(){
                  var imagePos = $(this).offset().top;

                  var topOfWindow = $(window).scrollTop();
                  if (imagePos < topOfWindow+700) {
                    $(this).addClass("fadeIn");
                  }
                });
              });
            </script>
            <script>
              $(window).scroll(function() {
                $('#icon02').each(function(){
                  var imagePos = $(this).offset().top;

                  var topOfWindow = $(window).scrollTop();
                  if (imagePos < topOfWindow+700) {
                    $(this).addClass("fadeIn");
                  }
                });
              });
            </script>
            <script>
              $(window).scroll(function() {
                $('#icon03').each(function(){
                  var imagePos = $(this).offset().top;

                  var topOfWindow = $(window).scrollTop();
                  if (imagePos < topOfWindow+700) {
                    $(this).addClass("fadeIn");
                  }
                });
              });
            </script>
            <script>
              $(window).scroll(function() {
                $('#icon04').each(function(){
                  var imagePos = $(this).offset().top;

                  var topOfWindow = $(window).scrollTop();
                  if (imagePos < topOfWindow+700) {
                    $(this).addClass("fadeIn");
                  }
                });
              });
            </script>
            <script>
              $('.yesno')
              .mouseenter(function() {
               $(this).addClass("pulse");
             })
              .mouseleave(function() {
               $(this).removeClass("pulse");

             });
            </script>

            <script type="text/javascript">

              $( "div.enterleave" )
              .mouseenter(function() {
                n += 1;
                $( this ).find( "span" ).text( "mouse enter x " + n );
              })
              .mouseleave(function() {
                $( this ).find( "span" ).text( "mouse leave" );
              });
            </script>
            <!--END RANG BAR JS-->


            <!-- END JAVASCRIPTS -->
            <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
        <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
      </body>
      </html>
