<!DOCTYPE html>
<html>
<head>

  <%
        @seos.each do |seo|
          if seo.page == "tool_page"
            case seo.key
            when "title"
                meta_title seo.content
            when "keywords"
                meta_keywords seo.content
            when "description"
                meta_description seo.content
            when "author"
                meta_author seo.content
            end
          end
        end
    %>

  <title><%= yield(:title).presence || "Default title" %></title>
  <meta name="keywords" content="<%= yield(:meta_keywords).presence || "default, keywords" %>" />
  <meta name="description" content="<%= yield(:meta_description).presence || "Default description" %>" />
  <meta name="author" content="<%= yield(:meta_author).presence || "Default Author" %>" />

  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="" name="author"/>
  <title>快樂工作</title>

  <!-- BEGIN STYLE -->
  <!-- BEGIN 核心樣式 -->
  <link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
        <!--[if gte IE 9]>
        <style type="text/css">
        .gradient {
        filter: none;
        }
        </style>
        <![endif]-->
        <!-- END 核心樣式 -->
        <!-- BEGIN 頁面插件樣式 -->
        <!-- END 頁面插件樣式 -->
        <!-- BEGIN 主題樣式 -->
        <!-- END 主題樣式 -->
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
        <link rel="stylesheet" type="text/css" href="../../css/css-anima.css">
        <link rel="stylesheet" type="text/css" href="../../css/page/tool_page.css">
        <!--<link rel="stylesheet/less" type="text/css" href="less/page/index.less">-->
        <link rel="shortcut icon" href="../../favicon.ico"/>

        <!-- END STYLE -->
      </head>
      <body class="bg-white">
        <!-- BEGIN NAVBAR -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-nav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target=".navbar-collapse-search">
              <i class="fa fa-search"></i>
            </button>
            <a class="navbar-brand" href="../../index.html"><img class="navbar-logo" src="../../img/logo208.png" alt="快樂工作"></a>
          </div>
           <!--  <div class="navbar-collapse navbar-collapse-search collapse navbar-right">
                <div class="navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜尋您需要的人才">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
              </div> -->
              <div class="navbar-collapse navbar-collapse-nav collapse navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="../../login.html">會員登入</a></li>
                  <li><a href="../../sign_up.html">免費註冊</a></li>
                </ul>
              </div>
            </div>
            <!-- END NAVBAR -->
            <!-- BEGIN PAGE -->
            <body >
              <div class="page-content">
                <section class="tool-cap">
                  <div class="tool-container">
                    <div class="row" style="padding-top:100px;">
                      <div class="col-md-4">
                        <div class="tool-box">
                          <img class="img-responsive" src="../../img/tool-page/tool-page2.jpg">
                        </div>
                      </div>
                      <div class="col-md-4">
                       <div class="tool-box">
                         <img class="img-responsive" src="../../img/tool-page/tool-page1.jpg">
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="tool-box">
                         <img class="img-responsive" src="../../img/tool-page/tool-page3.jpg">
                       </div>
                     </div>
                   </div>
                 </div>
               </section>
               <section class="subTorso">
                 <div class="text-center"><h1 class="marpad">TeleWork打造您的全球案件平台</h1></div>
               </section>
               <section class="top100 bottom100">
                 <div class="tool-container">
                   <div class="row text-center">
                     <div class="col-md-4">
                     <h2 class=" Corange">查看會議室介紹</h2>
                       <img src="../../img/tool-page/tool-page-400x400-01.png" width="300px" alt="img">
                       <p class="text-right-md">溝通無疆界，案件溝通更快更有效。
                         <br><a href="#">前往了解會議室>></a></p>
                       </div>
                       <div class="col-md-4">
                         <h2 class="Corange">查看TeleWork軟體介紹</h2>
                         <img src="../../img/tool-page/tool-page-400x400-02.png" width="300px" alt="img">
                         <p class="text-right-md">案件進度隨時上傳工作日誌，您最有效率的案件管理軟體。
                           <br><a href="#">前往了解TeleWork軟體>></a></p>
                         </div>
                         <div class="col-md-4">
                           <h2 class=" Corange">查看金流介紹</h2>
                           <img src="../../img/tool-page/tool-page-400x400-03.png" width="300px" alt="img">
                           <p class="text-right-md">不必煩惱付款、收款問題，我們提供您多種金流選項。
                             <br><a href="#">前往了解會議是詳情>></a></p>
                           </div>
                         </div>
                       </div>
                     </section>
                   </div>
                 </body>
                 <!-- END PAGE -->
                 <!-- BEGIN FOOTER -->
                 <script language="javascript" type="text/javascript"
                 src="../../masterpage/footer.txt"></script>
                 <!-- END FOOTER -->

                 <!-- BEGIN JAVASCRIPTS -->
                 <!-- BEGIN 核心插件 -->
        <!--[if lt IE 9]>
            <script src="plugins/html5shiv.min.js"></script>
            <script src="plugins/respond.min.js"></script>
            <![endif]-->

            <script src="../../plugins/jquery-1.11.0.min.js"></script>
            <script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="../../plugins/jquery-placeholder/jquery.placeholder.js"></script>
            <script src="../../plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
            <!-- END 核心插件 -->
            <!-- BEGIN 頁面插件 -->
            <!-- END 頁面插件 -->
            <script type="text/javascript" src="../../js/script.js"></script>
            <!--<script type="text/javascript" src="js/page/index.js"></script>-->
            <script>
              jQuery(document).ready(function() {
               Web.init();
               //Index.init();
             });
            </script>


            <script src="../../plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
            <script src="../../plugins/owl-carousel/assets/js/google-code-prettify/prettify.js"></script>
            <script src="../../plugins/owl-carousel/assets/js/application.js"></script>
            <script>
             var activeEl = 0;
             $(function() {
              var items = $('.btn-nav');
              $( items[activeEl] ).addClass('active');
              $( ".btn-nav" ).click(function() {
                $( items[activeEl] ).removeClass('active');
                $( this ).addClass('active');
                activeEl = $( ".btn-nav" ).index( this );
              });
            });
           </script>

           <!--END RANG BAR JS-->


           <!-- END JAVASCRIPTS -->
           <!-- BEGIN PIE -->
        <!--[if lte IE 9]>
        <script type="text/javascript" src="plugins/PIE-1.0.0/PIE.js"></script>
        <script src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
        <script>
        $(function() {
            $('input, textarea').placeholder();
            $('.main-content').each(function() {
                PIE.attach(this);
            });
        });
        </script>
        <![endif]-->
        <!-- END PIE -->
      </body>
      </html>
