<div>
    <h3>Odesk API List</h3>
    <h4>if you dont have token, please press login button</h4>
    <button ng-click="login()">login</button>
    <br>
    <select ng-model="api" ng-options="a.name group by a.group for a in apiList"></select>
    <button ng-click="getAIP()"> Got it </button>
    <button ng-click="seeHeader()"> see header </button>
    <p>result:{{api}}</p>
    <p>{{dataContent}}</p>
    <p>{{dataObj}}</p>
    <div style="position:relative; left:30%; top:30%;">
<!--         <table style="border-collapse:collapse;" border="1">
            <tbody>
                <tr ng-repeat="d in dataArray" style="text-align:center;">
                    <td>{{d.meta}}</td><td>{{d.data}}</td>
                </tr>
            </tbody>
        </table> -->
    </div>
</div>
