


/* Backgrounds */

.bg-navy {    background-color: $navy; }
.bg-blue {    background-color: $blue; }
.bg-aqua {    background-color: $aqua; }
.bg-teal {    background-color: $teal; }
.bg-olive {   background-color: $olive; }
.bg-green {   background-color: $green; }
.bg-lime {    background-color: $lime; }
.bg-yellow {  background-color: $yellow; }
.bg-orange {  background-color: $orange; }
.bg-red {     background-color: $red; }
.bg-fuchsia { background-color: $fuchsia; }
.bg-purple {  background-color: $purple; }
.bg-maroon {  background-color: $maroon; }
.bg-white {   background-color: $white; }
.bg-gray {    background-color: $gray; }
.bg-silver {  background-color: $silver; }
.bg-lsilver{ background-color:#E3E3E3;}
.bg-black {   background-color: $black; }


/* Colors */

.Cnavy {       color: $navy; }
.Cblue {       color: $blue; }
.Caqua {       color: $aqua; }
.Cteal {       color: $teal; }
.Cdarkteal {   color:#148496;}
.Colive {      color: $olive; }
.Cgreen {      color: $green; }
.Clime {       color: $lime; }
.Cyellow {     color: $yellow; }
.Corange {     color: $orange; }
.Cred {        color: $red; }
.Cfuchsia {    color: $fuchsia; }
.Cpurple {     color: $purple; }
.Cmaroon {     color: $maroon; }
.Cwhite {      color: $white; }
.Csilver {     color: $silver; }
.Cgray {       color: $gray; }
.Cblack {      color: $black; }
.Cdarkgray { color:#6b6b6b;}

