//
// COLOR VARIABLES
//
// - Cool
// - Warm
// - Gray Scale
//

// Cool

$aqua:  #7FDBFF;
$blue:  #0074D9;
$darkblue: #3D4B5E;
$navy:  #001F3F;
$teal:  #39CCCC;
$darkteal: #148496;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;
$lightlime: #C7D1C0;

// Warm

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$darkpurple: #836F8D;
$maroon:  #85144B;
$brown:   #494039;

// Gray Scale

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$bluegray: #8190A2;
$darkgray:#6b6b6b;
$black:  #111;
$lsilver: #E3E3E3;


