@charset "UTF-8";
//@import "compass/reset";

$color_a1: #ddd;
$color_a2: #B4CCA7;

@mixin marpad {
	margin:0px;
	padding:0px;
}

@mixin opena{
	background-color: transparent;
	color:hsla(0,0%,100%,1.00);
    border-color: #428BCA;
}


.clear{
	clear: both;
}
.display-hide{
	display: none;
}
.display-none{
	display: none;
}
body{
	font-family: "微軟正黑體","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-top: 60px;
	color: #000;
	background-color: #E3E3E3;
	overflow-y: scroll !important;
	min-width: 480px;
    overflow: hidden;
}
@media (min-width: 768px){
body {
  padding-top: 80px;
}
}

/*NAVBAR*/
.navbar-default{
	border: none;
	background: #494d59; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5NGQ1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZjMyM2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #494d59 0%, #2f323e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494d59), color-stop(100%,#2f323e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #494d59 0%,#2f323e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #494d59 0%,#2f323e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #494d59 0%,#2f323e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #494d59 0%,#2f323e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494d59', endColorstr='#2f323e',GradientType=0 ); /* IE6-8 */
	
	.navbar-toggle-search{
		i{
			color: #888;
			font-size: 22px;
		}
		
	}
	.navbar-brand{
		height: 55px;
		padding-top: 10px;
		.navbar-logo{
			height: 35px;
		}
	}
	.navbar-toggle{
		margin-top: 10px;
		margin-bottom: 10px;
		height: 40px;
	}
	.navbar-nav{
		margin-left: 0;
		float: right;
		&>li{
			float: left;
		}
		&>li>a{
			line-height: 20px;
			color: $color_a1;
			font-size: 18px;
			&:hover{
				color: $color_a2;
			}
		}
		&.navbar-right:last-child{
			margin-right: 0;
		}
	}
	.navbar-collapse{
		background-color: #000;
		border: none;
	}
	.navbar-collapse-search{
		.navbar-search{
			padding: 10px 0;
		}
	}
}
@media (min-width: 768px){
.navbar-default{
	margin: 0;
	.navbar-brand{
		height: 75px;
		margin-top: 5px;
		padding-top: 15px;
		.navbar-logo{
			height: 40px;
		}
	}
	.navbar-nav{
		&>li>a{
			line-height: 50px;
		}
	}
	.navbar-collapse{
		background-color: inherit;
		border: none;
	}
	.navbar-collapse-search{
		.navbar-search{
			padding: 0;
			width: 200px;
			margin: 22px 10px;
			clear: none;
			float: right;
		}
	}
}
}

.footer{
	text-align: center;
	padding: 10px 0;
	background: #2e313a; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMzEzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzMzMzY0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZDMxM2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #2e313a 0%, #333645 50%, #2d313d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e313a), color-stop(50%,#333645), color-stop(100%,#2d313d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #2e313a 0%,#333645 50%,#2d313d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #2e313a 0%,#333645 50%,#2d313d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #2e313a 0%,#333645 50%,#2d313d 100%); /* IE10+ */
	background: linear-gradient(to bottom, #2e313a 0%,#333645 50%,#2d313d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e313a', endColorstr='#2d313d',GradientType=0 ); /* IE6-8 */
	
	.footer-logo{
		padding: 10px 0;
		text-align: center;
		margin: auto;
	}
	.footer-nav{
		height: 18px;
		overflow: hidden;
		&>a{
			color: $color_a1;
			font-size: 13px;
			line-height: 18px;
			display: inline-block;
			&:hover{
				color: $color_a2;
			}
		}
		&>.bar{
			color: $color_a1;
			font-size: 13px;
			line-height: 18px;
			display: inline-block;
			margin: 0 5px;
		}
	}
}

/* input with left aligned icons */
.input-icon {
  position: relative;
}


.input-icon input {
   padding-left: 33px !important;
}

.input-icon i {
  color: #ccc;
  display: block;
  position: absolute;
  margin: 11px 2px 4px 10px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}

.input-icon.right input {
   padding-left: 12px !important;
   padding-right: 33px !important;
}

.input-icon.right i {
   right: 8px;
   float: right;
}

.has-success .input-icon > i {
  color: #468847;
}

.has-warning .input-icon > i {
  color: #c09853;
}

.has-error .input-icon > i {
  color: #b94a48;
}
.page-content:before{
	content: " ";
	display: table;
}
.page-content:after{
	content: " ";
	display: table;
}
h1.title{
	text-align: center;
	font-size: 54px;
	color: #319ACA;
	padding: 30px 0;
	.white-space-nowrap{
		white-space: nowrap;
	}
	.point{
		color: #E05D3F;
		display: inline-block;
	}
}
@media (max-width: 768px){
h1.title{
	font-size: 48px;
	padding: 10px 0;
}
}
h2.title{
	font-size: 32px;
	padding: 0 10px;
	i{
		padding: 2px;
		fone-size: 30px;
	}
}
p.subtitle{
	text-align: center;
	margin-top: -10px;
	line-height: 30px;
	font-size: 24px;
}
.main-content{
	max-width: 1000px;
	width: 90%;
	margin: 30px auto;
	padding: 30px 10px;
	background-color: #FFF;
	border-radius: 25px;
}
@media (max-width: 768px){
.main-content{
	width: 100%;
	border-radius: 0;
	margin-bottom: 0;
}
}
/***
Portlets
***/
.portlet  {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}

.portlet > .portlet-title {  
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.portlet > .portlet-title:after,
.portlet > .portlet-title:before {
  content: "";
  display: table;
  line-height: 0;
}

.portlet > .portlet-title:after {
  clear: both;
}

.portlet > .portlet-title > .caption {
  float: left;
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 8px; 
}

.portlet > .portlet-title > .caption > i {
  float: left;
  margin-top: 4px;
  display: inline-block !important;
  font-size: 13px;
  margin-right: 5px;
  color: #666;
}

.portlet.blue > .portlet-title > .caption,
.portlet.green > .portlet-title > .caption, 
.portlet.yellow > .portlet-title > .caption,
.portlet.red > .portlet-title > .caption, 
.portlet.purple > .portlet-title > .caption, 
.portlet.grey > .portlet-title > .caption {
  color: #fff;
}

.portlet.box.blue > .portlet-title > .caption > i, 
.portlet.box.green > .portlet-title > .caption > i,
.portlet.box.grey > .portlet-title > .caption > i,
.portlet.box.yellow > .portlet-title > .caption > i, 
.portlet.box.red > .portlet-title > .caption > i,  
.portlet.box.purple > .portlet-title > .caption > i, 
.portlet.box.light-grey > .portlet-title > .caption > i{
  color: #fff;
}

.sortable .portlet > .portlet-title {
  cursor: move;
}

.portlet > .portlet-title > .tools,
.portlet > .portlet-title > .actions
 {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-top: 6px;
  float: right;
}

.portlet > .portlet-title > .tools > a {
  display: inline-block;
  height: 16px;
  margin-left:5px;
}

.portlet > .portlet-title > .actions > .dropdown-menu i {
  color: #000 !important;
}

.portlet > .portlet-title > .tools > a.remove {
  margin-bottom: 2px;
  background-image:url(../img/portlet-remove-icon.png);
  background-repeat: no-repeat;
  width: 11px;
}

.portlet > .portlet-title > .tools > a.config {
  margin-bottom: 2px;
  background-image:url(../img/portlet-config-icon.png);
  background-repeat: no-repeat;
  width: 12px;
}

.portlet > .portlet-title > .tools > a.reload {
  margin-bottom: 2px;
  background-image:url(../img/portlet-reload-icon.png);
  width: 13px;
}

.portlet > .portlet-title > .tools > a.expand {
  margin-bottom: 2px;
  background-image:url(../img/portlet-expand-icon.png);
  width: 14px;
}

.portlet > .portlet-title > .tools > a.collapse {
  margin-bottom: 2px;
  background-image:url(../img/portlet-collapse-icon.png);
  width: 14px;
}

.portlet > .portlet-title > .tools > a:hover {
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity:.6;  
  filter:'alpha(opacity=60)';
}

.portlet > .portlet-title > .actions > .btn-group {
  margin-top: -13px;
}

.portlet > .portlet-title > .actions > .btn {
  padding: 4px 10px;
  margin-top: -14px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn {
  padding: 4px 10px;
  margin-top: -1px;
}

.portlet > .portlet-title > .actions > .btn.btn-sm {
  padding: 3px 8px;
  margin-top: -13px;
}

.portlet > .portlet-title > .actions > .btn-group > .btn-sm {
  padding: 3px 8px;
  margin-top: -1px;
}

.portlet > .portlet-title > .pagination.pagination-sm {
  float: right !important;
  display: inline-block !important;
  margin: 0px;
  margin-top: -4px;
}

@media (max-width: 767px) { 
  .portlet > .portlet-title > .actions.btn-set > .btn-group,
  .portlet > .portlet-title > .actions.btn-set > .btn {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.portlet > .portlet-body {
  clear: both;  
  padding: 0;  
}

.portlet > .portlet-empty {
  min-height: 125px; 
}

.portlet > .portlet-body.light-blue, .portlet.light-blue {
  background-color: #bfd5fa  !important;
}

.portlet > .portlet-body.blue, .portlet.blue {
  background-color: #77B0E3 !important;
}

.portlet > .portlet-body.red, .portlet.red {
  background-color: hsla(359,100%,46%,0.25) !important;
}

.portlet > .portlet-body.yellow, .portlet.yellow {
  background-color: #EDBE73 !important;
}

.portlet > .portlet-body.green, .portlet.green {
  background-color: #7AA399 !important;
}

.portlet > .portlet-body.purple, .portlet.purple {
  background-color: #C6A7C9 !important;
}

.portlet > .portlet-body.light-grey, .portlet.light-grey {
  background-color: #fafafa !important;
}

.portlet > .portlet-body.grey, .portlet.grey {
  background-color: #555555 !important;
}

/*  draggable girds */

.ui-sortable-placeholder { 
    border: 1px dotted black; 
    visibility: visible !important; 
    height: 100% !important; 
}
  
.ui-sortable-placeholder * { 
  visibility: hidden; 
}

.sortable-box-placeholder {
  background-color: #f5f5f5;
  border: 1px dashed #DDDDDD;
  display: block;
  /* float: left;*/
  margin-top: 0px !important;
  margin-bottom: 24px !important;
}

.sortable-box-placeholder * {
  visibility:hidden;
}

/***
Solid colored portlet
***/
.portlet.solid {
  padding: 10px;
}

.portlet.solid > .portlet-title > .tools {
  margin-top: 2px;
  border: 0px;
}

.portlet.solid > .portlet-title {
  margin-bottom: 5px;
  border: 0px;
}

.portlet.solid.bordered > .portlet-title {
  margin-bottom: 15px;
}

.portlet.solid.red > .portlet-title,
.portlet.solid.red > .portlet-title > .caption > i,
.portlet.solid.red > .portlet-body,

.portlet.solid.green > .portlet-title,
.portlet.solid.green > .portlet-title > .caption > i,
.portlet.solid.green > .portlet-body,

.portlet.solid.yellow > .portlet-title,
.portlet.solid.yellow > .portlet-title > .caption > i,
.portlet.solid.yellow > .portlet-body,

.portlet.solid.grey > .portlet-title,
.portlet.solid.grey > .portlet-title > .caption > i,
.portlet.solid.grey > .portlet-body,

.portlet.solid.purple > .portlet-title,
.portlet.solid.purple > .portlet-title > .caption > i,
.portlet.solid.purple > .portlet-body,

.portlet.solid.blue > .portlet-title,
.portlet.solid.blue > .portlet-title > .caption > i,
.portlet.solid.blue > .portlet-body {
  border: 0;
  color: #fff;
}

.portlet.bordered {
  border-left: 2px solid #ddd;
}

/***
Box portlet
***/

.portlet.box {
   padding:0px !important
}

.portlet.box > .portlet-title {  
   padding:8px 10px 2px 10px;
   border-bottom: 1px solid #eee;
   color: #fff !important;
}

.portlet.box > .portlet-title > .tools {
  margin-top: 3px;
}

.portlet.box > .portlet-title > .tools > a.remove, 
.portlet.solid > .portlet-title > .tools > a.remove {
  background-image:url(../img/portlet-remove-icon-white.png);
}

.portlet.box > .portlet-title > .tools > a.config,
.portlet.solid > .portlet-title > .tools > a.config {
  background-image:url(../img/portlet-config-icon-white.png);
}

.portlet.box > .portlet-title > .tools > a.reload,
.portlet.solid > .portlet-title > .tools > a.reload {
  background-image:url(../img/portlet-reload-icon-white.png);
}

.portlet.box > .portlet-title > .tools > a.expand,
.portlet.solid > .portlet-title > .tools > a.expand {
  background-image:url(../img/portlet-expand-icon-white.png);
}

.portlet.box > .portlet-title > .tools > a.collapse,
.portlet.solid > .portlet-title > .tools > a.collapse {
  background-image:url(../img/portlet-collapse-icon-white.png);
}

/* portlet buttons */
.portlet.box > .portlet-body {
  background-color: #fff;
  padding: 10px;
}

.portlet.box > .portlet-title {  
  margin-bottom: 0px;
}

.portlet.box.blue > .portlet-title {
  background-color: #77B0E3;
} 

.portlet.box.blue {  
   border: 1px solid #77B0E3;
   border-top: 0;
}

.portlet.box.red > .portlet-title {
  background-color: hsla(359,100%,46%,0.25);
} 

.portlet.box.red {  
   border: 1px solid hsla(359,100%,46%,0.25);
   border-top: 0;
}

.portlet.box.yellow > .portlet-title {
  background-color: #EDBE73;
} 

.portlet.box.yellow {  
   border: 1px solid #EDBE73;
   border-top: 0;
}

.portlet.box.green > .portlet-title {
  background-color: #7AA399;
} 

.portlet.box.green {  
   border: 1px solid #7AA399;
   border-top: 0;
}

.portlet.box.purple > .portlet-title {
  background-color: #C6A7C9;
} 

.portlet.box.purple {  
   border: 1px solid #C6A7C9;
   border-top: 0;
}

.portlet.box.grey > .portlet-title {
  background-color: #555555;
} 

.portlet.box.grey {  
   border: 1px solid #9d9c9c;
   border-top: 0;
}

.portlet.box.light-grey > .portlet-title {
  background-color: #aaa;
} 

.portlet.box.light-grey {  
   border: 1px solid #bbb;
   border-top: 0;
}







/*margin:0 padding:0*/

.marpad{
	@include marpad;
	}
	
.navbar-nav>li>a{
	.navbar-default &:focus{
	color:hsla(0,0%,100%,1.00);
	}
	.navbar-default &:hover{
	color:#B4CCA7;
	}
}

.navbar-nav>.open>a{
	.navbar-default &, .navbar-default &:hover, .navbar-default &:focus{ @include opena;}
	
}



@media (min-width: 768px) {
/*drop down menu*/

.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
	padding:20px 0px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}
}

	

.text-over{
	max-width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;}


/*ABOUT COLOR*/

.color-blue{
  color:#72A8D9;
}
.color-red{
  color:hsla(359,100%,46%,0.35);
}
.color-yellow{
  color:#EDBE73;
}
.color-green{
  color:#7AA399;
}

.color-purple{
  color:#C6A7C9;
}

.color-grey{
  color:grey;
}

@import "_profolio.scss";