<div>
  <h3>翻譯專案</h3>
  <form ng-submit="updateProject(project.id)">
    <h4>Name:</h4>
    <ul>
      <li>{{project.name}}</li>
      <li><input type="text" ng-model="projectName"></li>
    </ul>
    <h3>description:</h3>
    <ul>
      <li>{{project.description}}</li>
      <li><textarea ng-model="projectDescription"></textarea></li>
    </ul>
    <ul ng-if="publicMessage!=null"><h3>public message:</h3>
      <li>{{originText}}</li>
      <li><textarea ng-model="$parent.publicMessage"></textarea></li>
    </ul>
    <button> save </button>
  </form>

  <a href="#/translators/project">go back</a>
</div>
