<div>
  <h3>翻譯專案</h3>
  <form ng-submit="updateProject(project.id)">
    <ul>
      <li>name: {{project.name}}</li>
      <li>chinese_name: <input type="text" ng-model="projectName"></li>
    </ul>
    <ul>
    <li>description: {{project.description}}</li>
      <li>chinese_description: <textarea ng-model="projectDescription"></textarea></li>
    </ul>
    <ul>
      <li>public message: {{project.public_message}}</li>
      <li>public message: <input type="text" ng-model="publicMessage"></li>
    </ul>
    <button> save </button>
  </form>

  <a href="#/translators/project">go back</a>
</div>
