<h3>Project list</h3>
<div ng-repeat="p in projects | orderBy: 'project_category' | groupBy:['project_category']">
  <h4 ng-show="p.group_by_CHANGED">{{p.project_category}} {{p.require_skills}}</h4>
  <ul>
    <li>
      <a href="#/translators/project/{{p.id}}">{{p.name}}</a>
      <span ng-show="p.is_translation==1" style="color:red;">edited</span>
      <span>word_count: </span>
    </li>
  </ul>
</div>

<div style="position:absolute; right:50px; top:0px;">
  <h4><a href="" ng-click="logout()">logout</a></h4>
</div>
