@charset "utf-8";
/* CSS Document */

#custom_carousel .item {

    color:#000;
    background-color:#eee;
}
#custom_carousel .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#ddd
}
#custom_carousel .controls li {
    display: table-cell;
    width: 1%;
    max-width:90px
}
#custom_carousel .controls li.active {
    background-color:#2BACB5;
  	color: #FFF;
  	border: none; 
}

.controls li a:hover{
	background-color:#6BD3D6;
	}

#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}


/*tabbed slider*/

.a-color li a{
	color: #F5F5F5;
	}
	
.tab-slider-tex, .tab-slider-tex02{
	color:#565656;
	}
.tab-slider-tex02{
	padding-top:100px;
	}
.tab-slider-tex{
	padding-top:80px;
	
	}
	
.tab-slider-tex p{
	font-size:2.5em;
	}
	
.tab-slider-tex02 p{
	font-size:2.3em;
	color:#262626;
	}
.img-blur{
	-webkit-filter: blur(10px);
  	-moz-filter: blur(10px);
  	-o-filter: blur(10px);
 	 -ms-filter: blur(10px);
 	 filter: blur(10px);
	}
	
.img-dark {
    filter: brightness(0.4);
    -webkit-filter: brightness(0.4);
    -moz-filter: brightness(0.4);
    -o-filter: brightness(0.4);
    -ms-filter: brightness(0.4);
	opacity: .5;
    }