body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2697px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2697px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1340px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2697px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2697px;
}
#u3 {
  position:absolute;
  left:2px;
  top:1340px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1588px;
  top:224px;
  width:110px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1588px;
  top:269px;
  width:110px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1623px;
  top:306px;
  width:86px;
  height:41px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:450px;
  top:570px;
  width:250px;
  height:260px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:260px;
}
#u11 {
  position:absolute;
  left:2px;
  top:122px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:710px;
  top:570px;
  width:250px;
  height:260px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:260px;
}
#u13 {
  position:absolute;
  left:2px;
  top:122px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:960px;
  top:570px;
  width:250px;
  height:260px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:260px;
}
#u15 {
  position:absolute;
  left:2px;
  top:122px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1220px;
  top:570px;
  width:250px;
  height:260px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:260px;
}
#u17 {
  position:absolute;
  left:2px;
  top:122px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:450px;
  top:870px;
  width:250px;
  height:260px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:260px;
}
#u19 {
  position:absolute;
  left:2px;
  top:122px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:710px;
  top:870px;
  width:250px;
  height:260px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:260px;
}
#u21 {
  position:absolute;
  left:2px;
  top:122px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:960px;
  top:870px;
  width:250px;
  height:260px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:260px;
}
#u23 {
  position:absolute;
  left:2px;
  top:122px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1220px;
  top:870px;
  width:250px;
  height:260px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:260px;
}
#u25 {
  position:absolute;
  left:2px;
  top:122px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:449px;
  top:17px;
  width:140px;
  height:50px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:606px;
  top:17px;
  width:110px;
  height:50px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:720px;
  top:17px;
  width:140px;
  height:50px;
  font-family:'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-size:18px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:1160px;
  width:200px;
  height:90px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:90px;
}
#u33 {
  position:absolute;
  left:2px;
  top:37px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1720px;
  top:17px;
  width:100px;
  height:43px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1820px;
  top:17px;
  width:100px;
  height:43px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:43px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
