<div class="main-content">
	
	<table class="table table-bordered">
	  <thead>
	  	<h1>價目清單</h1>
	  </thead>
	  <tr>
	  	<td>購買Telework會議室使用點數 1 點</td>
	  	<td>購買，選擇付費方式</td>
	  </tr>
	  <tr>
	  	<td>購買Telework會議室使用點數 5 點</td>
	  	<td>購買，選擇付費方式</td>
	  </tr>
	  <tr>
	  	<td>購買Telework會議室使用點數 10 點</td>
	  	<td>購買，選擇付費方式</td>
	  </tr>
	  <tr>
	  	<td>購買Telework會議室使用點數 20 點</td>
	  	<td>購買，選擇付費方式</td>
	  </tr>
	</table>
</div>