
<h1> Booking system </h1>


<h2> 選取服務 </h2>
	<li> <%=link_to("一般計劃會議室", meet_rooms_booking_path) %> </li>
	<li> 企業方案會議室 </li>
	<li> BYOT會議室 </li>
	<li> 線上面試 </li>


<h2> 會議室使用狀況 </h2>
	<li> <%= link_to("租借資訊", meet_rooms_check_order_information_path) %> </li>


