<div class="main-content">
	<div class="row">
    <div class="col-md-8"><h1> 會議室預約 </h1></div>
    <div class="col-md-4">
      <h4>您尚有會議室使用時數 : 10 </h4>
    </div>
  </div>

	


	<h2> 選取服務 </h2>
		<li> <%=link_to("一般計劃會議室", meet_rooms_booking_path) %> </li>
		<li> <%=link_to("企業方案會議室", meet_rooms_enterprise_path) %> </li>
		<li> <%=link_to("BYOT會議室", meet_rooms_byot_path) %> </li>


</div>
